[2017-05-15 17:46] johnjansen opened #1 "String tokenizer"
a string tokenizer like PragmaticTokenizer (Ruby)

[2017-05-15 17:47] johnjansen opened #2 "Tensorflow"
a crystal implementation of Tensorflow that matches the python one in functionality

[2017-05-15 17:48] johnjansen opened #3 "Sparse Matrix"
a feature complete Sparse Matrix

[2017-05-15 17:49] johnjansen opened #4 "Authorization framework"
something like CanCan or Pundit for Ruby

[2017-05-15 17:49] johnjansen opened #5 "Authentication Framework"
Something like Devise for Ruby

[2017-05-15 18:13] drujensen opened #6 "Active Admin"

[2017-05-15 18:14] drujensen opened #7 "Asset compilation - Coffee, Sass, Images"
Yarn and web brick

[2017-05-15 18:16] drujensen opened #8 "mountable web apps in router"
Ability to mount another rails or sinatra like app i.e. `/sidekiq`

[2017-05-15 18:21] drujensen opened #9 "Third party api integrations"
AWS, Carrierwave, Twilio, OneSignal, sentry, Rollbar, ...

[2017-05-15 18:22] drujensen opened #10 "Simple Form"

[2017-05-15 18:22] drujensen opened #11 "OAuth 2.0 framework like Doorkeeper"

[2017-05-15 18:23] drujensen opened #12 "Swagger"

[2017-05-15 18:29] johnjansen commented on #9
we should split these out into individual items i think

[2017-05-15 18:51] bcardiff commented on #2
https://blog.fazibear.me/learning-tensorflow-the-other-way-1f0e1764e0a7
https://github.com/fazibear/tensorflow.cr

[2017-05-15 18:56] johnjansen opened #13 "An NLP library like Spacy"
https://spacy.io

[2017-05-15 18:57] johnjansen opened #14 "A library like Numpy"
http://www.numpy.org

[2017-05-15 18:58] johnjansen opened #15 "A library like Scipy"
https://www.scipy.org

[2017-05-15 19:28] drujensen opened #17 "Pry for Crystal"

[2017-05-15 20:02] jots opened #18 "Async DNS Library"
like (ruby) https://github.com/alexdalitz/dnsruby
or (golang): https://github.com/miekg/dns

[2017-05-15 20:10] johnjansen opened #19 "a pretty printer like awesome_print"
https://github.com/awesome-print/awesome_print

[2017-05-15 20:14] RX14 commented on #18
There's a very basic "DNS" client for looking up names in the stdlib already, although it just binds gataddrinfo.

[2017-05-15 20:30] johnjansen opened #20 "a url manipulation library like addressable"
mainly for the Join, https://rubygems.org/gems/addressable

[2017-05-15 20:53] elorest commented on #17
ICR exists. There's obviously some differences since crystal is a compiled language. I don't think it lets you use vim inside of it like pry.

[2017-05-15 20:55] elorest commented on #7
Yeah. I think that all of this exists. We just need to glue it together.

[2017-05-15 20:58] elorest commented on #4
I believe that Warden is an Authentication framework. https://github.com/hassox/warden

Although I do think it might be cool to have authentication and authorization tied together. I've been meaning to port over https://github.com/elorest/petergate to crystal as soon as myself or someone else makes a complete authentication solution.

[2017-05-15 22:57] jots commented on #18
yes I've used that one, but need async for resolving millions of names in short amount of time, and also ability to specify nameservers to hit for resolution on a per query basis.

[2017-05-15 23:05] RX14 commented on #18
@jots It's already async; just spawn a new fiber for each query, however it's still not suitable for more than looking up hostnames' A records I agree.

[2017-05-17 04:00] TheLonelyGhost commented on #17
Honestly, I'd be happy with it if I could view source code or documentation for a class/module/method. Being able to "cd" into a construct (whether class or instantiated object) is incredibly helpful when debugging.

[2017-05-17 04:13] TheLonelyGhost commented on #7
SASS support might come from C-bindings into libsass, which might have [slightly different](http://sassbreak.com/ruby-sass-libsass-differences/) compatibility than ruby sass.

CoffeeScript might require just deferring to node or npm package for it.

Image transformation is just one of a few libraries: imagemagick, GraphicsMagick, optipng, etc.

I assume the idea is to have an alternative to the ra

[2017-05-17 07:22] RX14 commented on #7
Webpack already exists as a feature rich solution with a big ecosystem. Instead of attempting to reinvent the wheel, why not look at ways to integrate webpack as seamlessly as possible in crystal projects.

[2017-05-18 15:09] johnjansen opened #21 "wiringpi (c) wrapper"
a wrapper for wiringpi (c) so crystal on a raspberryPi becomes trivial

see http://wiringpi.com

[2017-05-18 15:52] bigtunacan commented on #4
@elorest is correct.  Warden is an authentication framework middleware for Rack.  Then Devise is layered on top of Warden.

Pundit (https://github.com/elabs/pundit) and cancancan (https://github.com/CanCanCommunity/cancancan) are the two main authorization framework options in Ruby.

[2017-05-18 16:17] johnjansen commented on #4
yeah, i realized that afterwards, sorry it took me a couple of days to update ... too much on my plate

[2017-05-18 17:01] crisward commented on #9
Sentry already has one
https://github.com/sija/raven.cr

[2017-05-19 01:45] drujensen opened #22 "OmniAuth - Standardized Multi-Provider Authentication"
https://github.com/omniauth/omniauth

[2017-05-19 14:57] bigtunacan commented on #5
@johnjansen I have setup two libs for this that I'm going to try and tackle.

https://github.com/bigtunacan/sheriff

and

https://github.com/bigtunacan/wyatt

The intent is that Sheriff will the general base layer authentication framework middleware (like Warden) that can be layered on top of by more specialized authentication frameworks.

Wyatt will then be a fuller auth framework layered on top

[2017-05-19 23:43] jwoertink commented on #17
I actually started working on a way to do this in ICR. The libreadline library actually has a lot of really useful features that would help us to achieve this. Also, somehow integrating lldb would as well. The issue with the readline is that it's lacking in crystal. I made an issue for one part https://github.com/crystal-lang/crystal/issues/4067 which is macOS related, but that prevents me from mo

[2017-05-19 23:45] jwoertink opened #23 "HTTP Proxy Client"
I think this should be built in to Crystal. Right now from what I can tell, there's not a way to create an HTTP client using proxy without hand rolling the entire auth process.

[2017-05-20 00:15] elorest commented on #17
That would be cool. If I remember from the issue though they claim it's
related to the library for ReadLine in C rather than Crystal

On May 19, 2017 5:43 PM, "Jeremy Woertink" <notifications@github.com> wrote:

[2017-05-20 00:36] jwoertink commented on #17
Yeah, that's what they say; however, similar code runs in other languages. I don't think it's a readline issue, but I don't know the library well enough to be 100% sure.

[2017-05-20 07:39] RX14 commented on #23
Maybe you should create an issue on the crystal issue tracker then.

[2017-05-20 15:53] jwoertink commented on #23
It's been an issue for almost a year https://github.com/crystal-lang/crystal/issues/2963 There just hasn't been any movement on it. I thought about taking it on, but I'm not really sure how I would write specs to test it, or if that example in the issue thread is actually a good solution or not.

[2017-05-21 20:19] bararchy opened #24 "Mail Server"
SMTP
POP3
IMAP
TLS/SSL

[2017-05-21 20:19] bararchy opened #25 "Machine Learning"
ANN
Classifier
LSI
Etc...

[2017-05-21 20:23] bararchy opened #26 "Network Remote access protocols"
SSH client
Telnet client
SSH server
Telnet server

[2017-05-22 00:29] Sija opened #27 "Vips bindings (Image manipulation library)"
[Vips](http://www.vips.ecs.soton.ac.uk/index.php?title=VIPS) is a free image manipulation library focused on speed and resource efficiency (like Crystal does).

[2017-05-22 00:30] Sija opened #28 "Image manipulation library like MiniMagick"
https://github.com/minimagick/minimagick

[2017-05-22 09:56] straight-shoota commented on #28
Though they are the de-facto standard for image manipulation, ImageMagick is a huge security risk. GraphicsMagick is way better, but still has lots of issues. I'd rather try to find a secure and stable image manipulation library to use in Crystal. I'm not sure about reasonable alternatives but we might as well look for it...
There is a proposal for VIPS #27 which is way faster <del>but still relie

[2017-05-22 11:45] veelenga commented on #28
[Magickwand-crystal](https://github.com/blocknotes/magickwand-crystal) may be some alternative for now.

[2017-05-22 14:14] Sija commented on #28
@veelenga yep, I'm aware of it, yet for my taste it's rather unusable alternative, thus this issue.

[2017-05-22 16:44] drujensen opened #29 "BlockChain client library"
https://github.com/blockchain/api-v1-client-ruby

[2017-05-22 16:49] drujensen opened #30 "GraphQL"
https://github.com/graphql

[2017-05-22 16:51] drujensen commented on #30
@emilebosch is interested in building this.

[2017-05-22 17:15] jwoertink commented on #30
Is this not the same thing? https://github.com/ziprandom/graphql-crystal

[2017-05-22 17:17] drujensen commented on #30
Good catch @jwoertink should have checked.  I will let Emile know about it.

[2017-05-22 18:24] RX14 commented on #30
From the graphql-crystal readme it looks like it's simply a graphql parser. That parser could be used to implement a library but i'm sure it's not all too useful by itself.

[2017-05-22 18:38] jwoertink opened #31 "AWS Integrations"
abstracted from #9

Since AWS is so large, would we want to see 1 massive AWS library, or a series of smaller AWS shards? I personally think the latter. I'd like to see `crystal-aws/aws-s3`, `crystal-aws/aws-rds`, etc...

[2017-05-22 19:34] emilebosch commented on #30
Its far from anything at the moment! Ill check out the amount of work that needs to be done

Sent from my iPhone

[2017-05-22 21:30] mjago commented on #28
Why is ImageMagic a huge security risk?

[2017-05-22 21:37] drosehn commented on #28
Because it is very poorly-written code, written back when the world wasn't full of actively-hostile attackers.  Consider this recent news story:

[yahoo_retires_imagemagick_library](https://www.theregister.co.uk/2017/05/21/yahoo_retires_imagemagick_library/)

And by recent, I mean:  21 May 2017

[2017-05-22 21:56] mjago commented on #28
I concur that yahoo has been a security risk over the last five years (I had an insignificant email account with them that was compromised twice).

[2017-05-22 21:59] Papierkorb commented on #28
A list of ImageMagick CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-1749/Imagemagick.html

 Though I wouldn't read too much into it. Implementing it ourselves isn't a magic bullet to make it bug free. It may have less whacky memory accesses, but OTOH, ImageMagick is pretty battle tested and will be for some time.

[2017-05-22 22:59] drujensen commented on #30
@emilebosch do you want to be assigned to this?

if so, @johnjansen can you add @emilebosch to the ticket?

[2017-05-24 07:46] emilebosch commented on #30
The thing is, graphql library is no small feat. I want to take the lead on it, but i need other people that use graphql in their day jobs in order to do it properly.

[2017-05-24 07:46] emilebosch commented on #30
But assign it to me, and ill see if i can find some peeps to do it

[2017-05-24 15:20] johnjansen commented on #30
hey @emilebosch once you accept the collab, i can assign this to you :-)

[2017-05-24 15:23] johnjansen commented on #31
i would suggest one core / common shard, then shards for each service ...

[2017-05-24 21:28] Sija opened #32 "IPFS client library"
https://github.com/ipfs/go-ipfs

[2017-05-24 21:29] Sija opened #33 "Libphonenumber bindings"
https://github.com/googlei18n/libphonenumber

[2017-05-25 17:08] fridgerator commented on #31
It would be cool to see crystal on this list: https://aws.amazon.com/tools/

It appears though, that all of the SKD's are maintained by AWS with the exception of the Python boto library.

I wonder if there are any considerations that would need to be followed before they would list it.

[2017-05-25 17:10] johnjansen commented on #31
@fridgerator totally agree, although we need to create something before getting it listed ;-) ... hands up who wants to manage this ticket :-)

[2017-05-25 17:10] fridgerator commented on #6
There is: https://github.com/askn/racon, but doesn't looks like its maintained anymore.

I've also started to work on one thats specific to crecto: https://github.com/Crecto/crecto-admin

[2017-05-25 17:11] fridgerator commented on #31
If the human body didn't require sleep, I would totally volunteer to help with this 😆

[2017-05-25 17:12] johnjansen commented on #31
oh boy do i know what you mean

[2017-05-25 17:19] RX14 commented on #31
I don't think seperate shards are really required, it's easier to maintain and keep the interface consistent working in 1 repo. And having unused methods has little effect on compile times

[2017-05-25 17:21] johnjansen commented on #31
@RX14 its really only a practical consideration, we arent going to be able to deliver a complete shard at this time (or probably anytime soon), so if we can break it up and get each bit feature complete and tested then we can combine them at a later date

[2017-05-25 17:47] akzhan commented on #12
Just need firstly to implement JSON Pointer and JSON Validator APIs.

[2017-05-25 19:01] RX14 commented on #31
@johnjansen I don't really see why incremental PRs can't be landed in a shared repository.

[2017-05-28 02:39] msa7 commented on #22
I make one https://github.com/msa7/multi_auth

[2017-05-28 06:20] molovo commented on #10
@drujensen What did you mean by this? A form builder, or something different?

I've built a couple of those in PHP for different projects, with an API very similar to Laravel's, so if that's the case I'd happily add it to my to-do list.

[2017-06-01 10:23] Sija opened #34 "bluez bindings (bluetooth support)"
http://www.bluez.org/

[2017-06-01 10:26] Sija opened #35 "libnfc bindings (nfc support)"
https://github.com/nfc-tools/libnfc

[2017-06-01 10:33] Sija opened #36 "CoAP implementation (IoT)"
https://github.com/1248/microcoap

[2017-06-01 10:37] Sija opened #37 "Robotics library like artoo"
https://github.com/hybridgroup/artoo

[2017-06-01 10:43] Sija opened #38 "IFTTT-like framework"
https://github.com/huginn/huginn
https://github.com/node-red/node-red

[2017-06-02 18:18] elorest commented on #34
Seconded. I'm currently actually working on this at work.

[2017-06-02 18:18] elorest commented on #34
That being said if anyone else would care to collaborate that would be great.

[2017-06-02 18:22] elorest commented on #31
Personally as long as we have an API a wrapper probably isn't really needed at this point. For instance if we wrote a carrierwave alternative we could just build in the parts we needed to interface with the api then. Eventually it would probably be useful but my experience from ruby is that using a gem wrapper often isn't easier than just hitting the api and you only need to read one set of docs t

[2017-06-02 18:50] molovo commented on #31
I'd vote for smaller shards, so that the specific parts of the API can be used by other packages easily, without having to require a huge monorepo. For example, a simple S3 integration could be used as part of something like [Flysystem](https://github.com/thephpleague/flysystem) which I would love to see in Crystal.

[2017-06-02 18:52] molovo commented on #34
Would bluez be the best choice, since it's linux only? I wonder if there's a cross-platform alternative that might be more worthwhile.

[2017-06-02 18:52] johnjansen commented on #31
agreed @molovo ...

[2017-06-02 19:02] RX14 commented on #31
What is the problem with requiring a large shard? It will all live under 1 namespace so there's no more namespace pollution and it should have practically no impact on compile times. A large amount of the standard library is required in every crystal program but what effects compile times is the amount of that required API surface you use.

However, the benefits of using a monorepo (easier to main

[2017-06-02 19:06] johnjansen commented on #31
understood @RX14, it may well wind up that way ... im only 1 vote, if however someone wants to write an AWS signer, and someone else wants to write a fully S3 implementation (which i think is the likely course of events) im not inclined to force people into a collaboration and decision by commitee if you follow my logic ... not that im in any position to do any forcing, just to be clear ;-)

[2017-06-02 19:15] Sija commented on #34
@molovo there's [noble](https://github.com/sandeepmistry/noble) coded for _node.js_.

[2017-06-02 19:17] Sija opened #39 "OpenTimestamps library"
https://opentimestamps.org/
https://github.com/opentimestamps/javascript-opentimestamps

[2017-06-05 08:16] marceloboeira commented on #25
@bararchy I am willing to start creating some structures to use ML with Crystal. I will comment here any development.

[2017-06-05 08:16] marceloboeira commented on #15
@johnjansen 👍

[2017-06-05 08:37] marceloboeira opened #40 "PDF Writer"
I've starter building one, but I haven't got that far yet.

https://github.com/marceloboeira/pdf.cr

We could create a label: "Need contributon" or something!

[2017-06-05 08:41] marceloboeira opened #41 "Git Wrapper"
A lib to create/manipulate git repos with crystal.

I am not sure if using directly system calls or libgit bindings... but anyway, I have started a while back: https://github.com/marceloboeira/git.cr

[2017-06-05 09:42] RX14 commented on #41
This project seems active: https://github.com/mosop/git

[2017-06-05 10:22] marceloboeira commented on #41
@RX14 true!

[2017-06-06 11:43] bararchy commented on #24
Still a WIP but getting there

[2017-06-06 11:44] bararchy commented on #25
@marceloboeira Thanks :)

I started working on basic ANN --> https://github.com/bararchy/crystal-ann
It was inspired by: https://github.com/gbuesing/neural-net-ruby

[2017-06-06 11:49] marceloboeira commented on #25
@bararchy great! I will check how can I contribute 👍

[2017-06-06 15:03] bararchy commented on #25
@marceloboeira thanks , that would be awesome , most of it is half working at best , and the Math part is totally out of my league to verify

[2017-06-06 17:06] AlexWayfer opened #42 "XLSX library"
Read / write.

Ruby has [Axlsx](https://rubygems.org/gems/axlsx), for example.

[2017-06-06 17:08] TheKidCoder opened #43 "AREL Port"
I started working on a direct port of AREL (A Relational Algebra) for building SQL queries using an AST. I mainly started it as an experiment to see what it was like taking ruby -> crystal. I haven't had any time to work on it recently, unfortunately.

[2017-06-06 17:32] megatux opened #44 "wrapper for wxWidgets GUI libraries"
It's C++. Added complexity.

[2017-06-06 20:07] schovi commented on #30
I can try help. Having fun project which I want port to Crystal from Rails, or at least some parts and GraphQL API is one of them

[2017-06-06 20:14] schovi commented on #25
I am trying to port javascript lib https://github.com/cazala/synaptic -> https://github.com/schovi/crystal-synaptic
I choose it because of simple API, pretty examples and overal easy to use feeling.
But it is really far from any output. The JS code is pretty complicated and it took lot of work to untangle it. And bonus is I dont understand to neural networks much :D

[2017-06-06 20:16] schovi commented on #17
@elorest For example Haskell is compiled too and there is really pretty interactive env for that. What is different from Crystal?

[2017-06-06 20:42] fridgerator commented on #31
one problem right now, is when trying to access AWS api on MAC, I always get this error:  Anyone else get this?

`<?xml version="1.0" encoding="UTF-8"?><Error><Code>HttpVersionNotSupported</Code><Message>The HTTP version specified is not supported.</Message><RequestId>2750C2CAA689256F</RequestId><HostId>xxxx</HostId></Error>`

I'm using this right now: https://github.com/taylorfinnell/awscr-signer

[2017-06-06 21:04] jwoertink commented on #31
@fridgerator How are the filenames formatted? Might need to url-encode them before uploading.

[2017-06-06 21:12] fridgerator commented on #31
Oh sorry, this is retrieving a signed url for a file from S3 using `HTTP::Client`

[2017-06-07 00:04] ziprandom commented on #30
Sorry for the late answer, I didn't come across this discussion. actually graphql-crystal is already much more than just a parser. I didn't find the time to update the readme but look at the specs. It already supports the whole query system and introspection. The only mayor protocoll feature that's left is directives which I'm currently working on. directives still is a pretty abstract concept. gr

[2017-06-07 07:13] bararchy commented on #41
Can this be closed then ? (also http://crystalshards.xyz/?filter=git)

[2017-06-07 07:17] bararchy commented on #25
Seems there is an active repo here too --> https://github.com/dorkrawk/

[2017-06-07 10:59] timuckun opened #45 "AWS Client"

[2017-06-07 10:59] timuckun opened #46 "Google Cloud API Support"

[2017-06-07 11:00] timuckun opened #47 "A way to easily generate clients for APIs"
Google, AWS, Elasticsearch, etc. Right now it's pretty cumbersome to write API clients.

[2017-06-07 12:14] RX14 commented on #45
Duplicate of https://github.com/johnjansen/crystal-libraries-needed/issues/31

[2017-06-07 12:14] #45 closed

[2017-06-07 12:16] fernandes commented on #43
hi @TheKidCoder ... same idea here: https://github.com/fernandes/arel.cr

wanna join forces? :)

[2017-06-07 12:36] drujensen opened #48 "Mail Client"
A mail client for crystal

WIP: https://github.com/Amber-Crystal/quartz_mailer

[2017-06-07 13:58] #9 closed

[2017-06-07 13:59] Sija opened #49 "Twilio client library"
Extracted from #9

[2017-06-07 14:02] Sija opened #50 "File uploads library, like PaperClip/CarrierWave/Shrine/Dragonfly"
Extracted from #9

[2017-06-07 14:05] drujensen commented on #48
https://github.com/arcage/crystal-email

[2017-06-07 14:05] drujensen commented on #48
https://github.com/raydf/smtp.cr

[2017-06-07 14:08] drujensen commented on #48
https://github.com/Nephos/CrystalEmail

[2017-06-08 15:11] bigtunacan commented on #10
@molovo Yes; that is what he is referring to.  You can see Simple Form here.  https://github.com/plataformatec/simple_form

It's the top form gem in Ruby.  For a long time Formtastic was the most used, but it became unmaintained for a long time. (https://github.com/justinfrench/formtastic)  Although now that gem is once again up to date and maintained as well.

[2017-06-08 18:53] cyberarm opened #51 "libusb support"

[2017-06-08 19:16] oltmannsdaniel opened #52 "Crystal Libary Generator"
Yes I know, there are already two on the market, but it is pretty hard to use them. We need something easy to use with an awesome wiki to show on more thing, why everyone should migrate to Crystal.

We need an easy to use C Shared Libary Generator for Crystal.

[2017-06-08 19:18] oltmannsdaniel commented on #29
@drujensen We definitely need that. I am currently building a Bitcoin Real Time data website with Crystal. Maybe I will find some time to build this.

[2017-06-08 19:20] oltmannsdaniel commented on #25
We really need a new crsyatl Libary index. The awesome-crsyatl stuff hasn't everything in there as I see.

[2017-06-08 19:20] Papierkorb commented on #25
@oltmannsdaniel There's been crystalshards.xyz/ for a long time

[2017-06-08 19:21] oltmannsdaniel commented on #13
@johnjansen I already build an awesome fast huge file reader. I can read about 20G of text splitted to multiple processes to the word end, so words won't be broken. We could use that for this.

[2017-06-08 19:22] oltmannsdaniel commented on #25
@Papierkorb But we need to split that into different categories like in awesome-crystal

[2017-06-08 21:56] Sija commented on #52
Like https://github.com/olbat/libgen ?

[2017-06-08 23:03] RX14 commented on #52
What people want is to add a shard to their `shards.yml` and then add this to their project:

[code]

Make it a 1 line to include a C library. All the current projects have a long and complicated readme.

[2017-06-09 08:34] citizen428 commented on #17
@schovi GHC for Haskell has two modes, compiled and interpreted. `runghc` and `ghci` use the latter.

[2017-06-09 09:21] schovi commented on #17
@citizen428 thanks for explanation!

[2017-06-09 09:36] Sija commented on #17
@jwoertink You could try using [fancyline](https://github.com/Papierkorb/fancyline) instead of _libreadline_.

[2017-06-09 09:48] RX14 commented on #25
@oltmannsdaniel Anything automatic will not be categorised, anything categorised needs someone to categorise it. What do you propose?

[2017-06-09 09:52] bew commented on #25
We could use the github topics to categorize? But it won't be good, as peoples can put anything..

[2017-06-09 10:33] bararchy commented on #25
Well , the topic is machine learning :) we can use Bayes classifier or KNN algorithm to automatically categorize repos

[2017-06-09 18:57] puppetpies commented on #24
I like this project not part of the standard library but what future holds for this could amazing great work

[2017-06-09 20:48] oltmannsdaniel commented on #25
@barachy We talk about general categorization of Crystal Libraries in a huge index.

[2017-06-09 20:49] oltmannsdaniel commented on #25
@RX14 We need an huge Index, maybe from the GitHub Crystal account? So everyone will find it.

[2017-06-09 20:53] oltmannsdaniel commented on #52
I mean a simple version of https://github.com/crystal-lang/crystal_lib

[2017-06-11 07:36] bararchy opened #53 "NLP Tools"
BagOfWords
word2vec

[2017-06-13 08:20] felipeelias commented on #10
@molovo have you started working on this? I'm willing to give it a try if you haven't

[2017-06-13 11:08] molovo commented on #10
@felipeelias I haven't, and I'm unlikely too any time soon, so crack on

[2017-06-16 08:15] molovo commented on #10
Is there a decent data validation library out there that we could integrate with this?

[2017-06-16 10:40] felipeelias commented on #10
@molovo not that I know of. My idea is that the form builder may expect some object that defines a simple interface, like `valid?` and `errors` to display validation messages.

I didn't get there yet but I have started something [here](https://github.com/felipeelias/forms.cr). It's very minor but I'm already using in one project of mine.

[2017-06-20 00:11] ziprandom commented on #30
https://github.com/ziprandom/kemal-graphql-example

[2017-06-20 07:18] konovod commented on #15
It would be great imho, as Crystal's fast speed and agile syntax could make it pretty successful in scientific programming. I see two main problems\questions though:
- Scipy is a wrapper around a number of C and Fortran libraries. This would make crystal analogue pretty hard to distribute - instead of just installing shard you have to download binaries for your system or use a fortran compiler to

[2017-06-20 08:49] RX14 commented on #15
@konovod Actually requiring a large shard shouldn't slow down the crystal compiler much if at all. The speed of the compiler is proportional to the amount of code in use: methods that aren't called and code that isn't used barely have a cost overhead because they are never typed.

I haven't actually benchmarked this at all so take it with a grain of salt but i'm 90% sure that this is how it works

[2017-06-20 09:22] konovod commented on #15
Good to hear. I haven't benchmarked too, but type inference was my most concern. The compiler still have to parse all code - i've started creating wrapper for LAPACK and the direct conversion of c-header is 2300 lines, and that's just one library. But parsing is perhaps fast enough.

[2017-06-20 09:41] RX14 commented on #15
@konovod if you use `--stats` you'll find even parsing `all_spec.cr` takes a fraction of a second.

[2017-06-23 13:29] konovod commented on #15
Ok, now i have another question. License. Is GPL acceptable for most potential users of "Crystal SciPy"?

If GPL is acceptable, wrapper around [GSL](http://www.gnu.org/s/gsl/) can provide most of the features Scipy has - optimization, ode, integrators, statistics, sparse linalg, splines etc etc. I've no idea about performance, but it can be improved later. There is also [GLPK](https://www.gnu.org/

[2017-06-27 21:12] bew opened #54 "Cairo bindings - generic drawing library"
Cairo is a 2D graphics library with support for multiple output devices. Currently supported output targets include the X Window System (via both Xlib and XCB), Quartz, Win32, image buffers, PostScript, PDF, and SVG file output. Experimental backends include OpenGL, BeOS, OS/2, and DirectFB.

Cairo is designed to produce consistent output on all output media while taking advantage of display hardw

[2017-06-27 21:22] bew opened #55 "Pango bindings - generic lib for laying out and rendering of text"
Pango is a library for laying out and rendering of text, with an emphasis on internationalization. Pango can be used anywhere that text layout is needed, though most of the work on Pango so far has been done in the context of the GTK+ widget toolkit. Pango forms the core of text and font handling for GTK+-2.x.

Pango is designed to be modular; the core Pango layout engine can be used with differen

[2017-06-30 23:05] bararchy commented on #25
I got a basic functionality working with FANN bindings in crystal at https://github.com/bararchy/crystal-fann

[2017-07-01 10:48] bararchy commented on #25
Well, now that we got FANN and https://github.com/dorkrawk/grey_matter I think that this issue can be closed, at least until a SciCrystal project will happen :)

[2017-07-01 10:48] #25 closed

[2017-07-03 11:45] konovod commented on #15
So, status report
 - Linear algebra: My [LAPACK wrapper](https://github.com/konovod/linalg) has more than half functions that Scipy.linalg has([checklist](https://github.com/konovod/linalg/blob/master/scipy.md)), with an (imho) convenient matrix library that is close to Numpy but two-dimensional only.
There is also https://github.com/Exilor/matrix by @Exilor, I'm going to grab everything good from

[2017-07-04 01:10] johnjansen commented on #53
I've been wondering about word2vec myself, not sure if/when i would get to it though

[2017-07-04 01:12] johnjansen opened #56 "TernarySearchTree"
there is now a TernarySearchTree implementation over here https://github.com/johnjansen/ternary_search_tree

its heavily documented and very fast .. having said that its could do with some improvement, so jump in if you feel so inclined ...

[2017-07-10 14:15] konovod commented on #15
Huh, just found there is also https://github.com/mverzilli/crystalla by @mverzilli.
Looks like without centralized packages list people will keep reinventing bicycles again and again.
If i've found it before I would prefer making PR's to it, as it doesn't looks like my one-man-hobby, but now my library has more features and i'm opinionated towards it.

On the GSL - my impression is that library ha

[2017-07-12 21:13] mverzilli commented on #15
Hey @konovod! As you might have noticed, it's been a while since I last worked on `crystalla`, and now that I'm a bit more involved in Crystal itself it is very unlikely that I'll dedicate time to it without a strong reason. Feel free to "steal" anything if you feel there's something useful. Otherwise, I'm super happy that someone is tackling this: I agree that Crystal is a super interesting fit f

[2017-07-13 12:25] TamasSzekeres commented on #54
Here it is https://github.com/TamasSzekeres/cairo-cr

[2017-07-13 14:29] bew commented on #54
@TamasSzekeres nice simple bindings!

But it still feel writing C, I'd prefer to have a Crystal wrapper for each logical objects like `Cairo::Context` or `Cairo::Surface`, and be able to call methods on them:
[code]
But that's for sure another piece of work!

[2017-07-13 19:38] johnjansen opened #57 "A port of, or comparable functionality too Ruby Robotstxt"
see
https://github.com/gjtorikian/robotstxt-parser

[2017-07-13 19:46] johnjansen commented on #57
see

https://yoast.com/ultimate-guide-robots-txt/
https://en.wikipedia.org/wiki/Robots_exclusion_standard

separately consider sitemaps
https://en.wikipedia.org/wiki/Sitemaps

[2017-07-14 02:34] johnjansen opened #58 "A native FTP client"
maybe a port of https://github.com/ruby/ruby/blob/fa7066f81839060d0a49f674625e6382233dcd3d/lib/net/ftp.rb

[2017-07-14 03:48] watzon opened #59 "Static site generator"
Something like Middleman or Jekyll. Ideally pluggable and, or course, fast as hell 😄

[2017-07-14 03:52] watzon opened #60 "JavaScript execution library"
Something like [execjs](https://github.com/rails/execjs) that would allow the execution of Javascript code within crystal using something like [Duktape(http://duktape.org)

[2017-07-14 07:14] straight-shoota commented on #59
I've been experimenting with a static site generator that also serves pages instantaneous for development so you don't have to wait for rebuild - and it's incredibly fast :D
It was really easy to get a simple Jekyll project running and only required minor modifications. Still very rough implementation and needs some work, but it shouldn't be too much effort to make a decent base.

It's based on [C

[2017-07-14 09:53] straight-shoota commented on #59
There is also [kamber](https://github.com/f/kamber). Though it does not seem to be very flexible and just practical for limited specific use cases. It does not have any templating support as far as I can tell and uses hard-coded paths like `/categories/:category/:post`.

[2017-07-14 21:07] RX14 commented on #60
there's already duktape bindings (they look really nice and well-featured actually) https://github.com/jessedoyle/duktape.cr.

[2017-08-11 12:49] straight-shoota opened #61 "Find and Filter Files (enhanced glob)"
It would be great to have a shard with more elaborate ways to find and filter files than `Dir.glob`. It should be able to query for example all files with extension `.sass` or `.scss` in non-hidden directories and basename does not begin with `_`. So I basically a Crystal library version of `find`.

There is https://github.com/sstephenson/hike in Ruby, but the API does look a bit weird.

[2017-08-13 05:39] Qwerp-Derp opened #63 "GUI library that isn't dead."
I looked at the Crystal binding for LibUI, but that's been dead for a few months.

I want to make a GUI app for making pixel art, but there isn't a decent UI library out there for Crystal, which is a shame.

[2017-08-13 08:22] RX14 commented on #63
Does libui.cr not work? Just because it's not had any commits in a while doesn't mean it's dead.

[2017-08-13 11:59] Qwerp-Derp commented on #63
@RX14 I looked carefully at the library, and it seems like there's 0 docs available for libui.cr, and no sample code at all.

[2017-08-13 12:08] RX14 commented on #63
Examples are [here](https://github.com/Fusion/libui.cr/tree/master/src/examples), a bit weird that they're not in the top level though. Perhaps a nicer wrapper around the raw LibUI calls too.

[2017-08-13 12:16] RX14 commented on #63
Actually it does look like it has a decent-ish crystal wrapper which isn't based on YAML, although the library could use some refactoring. The examples also seem to be slightly out of date.

[2017-08-13 12:22] veelenga commented on #63
/cc @Fusion

[2017-08-13 16:29] Nephos commented on #41
The mosop's work is far from finished and the other shards are not good.

[2017-08-13 17:23] RX14 commented on #41
If it's not finished, perhaps send a PR with the functionality you want. Starting from scratch is usually a bad idea.

[2017-08-13 18:39] bararchy opened #64 "Microsoft Authentication protocols"
- NTLM
- Kerberos
- GSSAPI

[2017-08-13 18:41] bararchy commented on #60
So.. can this be closed ? as we have a lib for that

[2017-08-13 19:08] #60 closed

[2017-08-14 00:25] Fusion commented on #63
Thanks for the CC.

To be honest, I hope dev for libui picks up. It is a very ambitious project that is kind of a holy grail for multi platform devs, regardless of language.

Of course, should development ever resume (did they suffer a painful suffocating death while working on tables?), I will update libcui.cr accordingly.

I had started work on a OO-based component approach but I'll admit to bei

[2017-08-24 11:34] veelenga commented on #56
@johnjansen Thanks! So, can be closed?

[2017-08-24 14:08] #56 closed

[2017-08-26 11:15] veelenga commented on #17
AFAIK `readline` (or `fancyline`) allows you to only interrupt execution and read/evaluate an interactive command (aka repl). `binding.pry` in ruby is much more than just `readline`. Let's look at the example:

[code]

[code]

here `pry` knows the execution context it is running in, so it can show you the values of method args, create an instance of available class `A` and call a method. Also, it

[2017-08-26 11:45] Papierkorb commented on #63
Working on it https://github.com/Papierkorb/qt5.cr - As the absolute major part of the wrappers are completely auto-generated, it'd take much more than a dev leaving from it to stop being up-to-date.

[2017-08-30 08:00] bararchy commented on #48
IMAP as been added here -> https://github.com/crisward/imap

[2017-08-30 08:01] bararchy commented on #24
I can now add IMAP support via: https://github.com/crisward/imap

[2017-09-05 17:59] straight-shoota commented on #24
@bararchy crisward/imap is only a client, not a server.

[2017-09-06 01:09] MuhammetDilmac opened #65 "XML Parser"
Like a nokogiri :)
http://www.nokogiri.org/

[2017-09-06 05:53] konovod commented on #65
There is a https://github.com/kostya/myhtml and https://github.com/madeindjs/Crystagiri
They are not pure crystal though, wrappers around `myhtml` and `libXML` libraries.

[2017-09-06 08:17] veelenga commented on #65
There are other choices as well, so it depends on your needs:

* https://github.com/kostya/modest
* https://github.com/maiha/hq.cr
* https://github.com/blocknotes/gumbo-crystal

[2017-09-07 21:01] jwoertink opened #66 "MCrypt"
PHP has [this](http://php.net/manual/en/book.mcrypt.php)
Ruby has [this](https://github.com/kingpong/ruby-mcrypt)
Elixir has [this](https://github.com/system76/elixir-mcrypt)

I have this PHP function that I would like to convert to crystal that requires mcrypt.

[code]

[2017-09-08 16:12] straight-shoota commented on #65
What's wrong with [`XML`](https://crystal-lang.org/api/0.23.1/XML.htm) from standard lib? It's a binding to libxml exactly as nokogiri and I don't see much difference in the wrapper API.

`myhtml` seems like a serious alternative, though the library is still in development.
`hq.cr` and `crystagiri` don't look like they are anywhere near usable for anything.

[2017-09-08 16:21] straight-shoota commented on #66
I honestly don't see any reason to support a dicontinued crypto library that hasn't been updated in the last 10 years. *You shouldn't use mcrypt anywhere. Ever.*

The blowfish algorithm among others is directly supported by Crystal's standard library.

[2017-09-08 16:40] jwoertink commented on #66
Well, that's not an option for me, so I guess I'll have to attempt this, or just not use crystal on this project 🙁

[2017-09-08 16:40] #66 closed, assigned to nobody

[2017-09-08 16:53] Papierkorb commented on #66
@jwoertink Why is not using mcrypt not an option? The algorithms provided by OpenSSL are the same, only their implementations are (supposedly) better.

[2017-09-08 16:56] jwoertink commented on #66
Because I don't know anything about cryptography, or any of these algorithms lol. I have to pull data out of a DB that's encrypted with this wonky function in php. My goal was to pull it out and decrypt with crystal with a 1-1 mapping of the function. I would assume I need mcrypt to do that. If you're saying OpenSSL has the same functions, then I guess that means I can use that. I'll give it a sho

[2017-09-08 17:02] Papierkorb commented on #66
That being said, I wish I could recommend using a libsodium or nacl wrapper over OpenSSL. I can't find an actively maintained one though.

OpenSSLs API makes it easy for you to shoot yourself into your own foot in a cryptographic sense. That won't cause trouble for decryption.

In any case, you should use one of these two libraries over anything else. They're actively maintained, and offer secure

[2017-09-08 17:28] Papierkorb opened #67 "Libsodium or NaCl wrapper, cryptographic libs with sane defaults"
Apparently, there are right now no wrappers for [Libsodium](https://download.libsodium.org/doc/) or [NaCl](https://nacl.cr.yp.to/).

These are a much better alternative over OpenSSL: Their focus is on sane defaults, and ease of use. Neither of these two can be said about OpenSSL.

Cryptography is hard™. People without academic education within this space (The absolute majority) have it hard, I mea

[2017-09-08 17:36] straight-shoota commented on #67
There is at least [andrewhamon/cox](https://github.com/andrewhamon/cox) as a Crystal wrapper for the libsodium box API.

[2017-09-08 22:26] #65 closed, assigned to nobody

[2017-09-08 22:27] RX14 commented on #65
Please use `XML` and suggest any improvements, instead of creating alternatives.

[2017-09-08 22:29] RX14 commented on #66
Well from your PHP code, what you want is to use blowfish cipher in ECB mode, which i'm sure is possible in openssl.

[2017-09-09 18:22] vladfaust commented on #8
Please see https://github.com/vladfaust/http-multiserver.cr and feedback if it suits your needs :smile:

[2017-09-10 16:22] vladfaust opened #68 "Resque"
[Resque](https://github.com/resque/resque) rocks, indeed. It's open source.
- [ ] Client ([available](https://github.com/pine/crystal-resque-client), but outdated);
- [ ] Worker - has to be able to process Crystal jobs;
- [ ] Scheduler - ability to schedule jobs inside Crystal;
- [ ] Web interface?

[2017-09-10 16:26] sdogruyol commented on #68
How about sidekiq.cr?

[2017-09-10 16:34] vladfaust commented on #68
@sdogruyol

Whilst Sidekiq's not.

[2017-09-10 16:47] veelenga commented on #68
Client, worker, scheduler, web interface....

Everything of that is available in [sidekiq.cr](https://github.com/mperham/sidekiq.cr/wiki/Getting-Started) for free. AFAIK paid options (Pro & Enterprise) have not been ported to crystal yet: http://sidekiq.org/

[2017-09-10 16:51] vladfaust commented on #68
@veelenga

RATE LIMITING
CRON JOBS
UNIQUE JOBS
MULTI-PROCESS
WEB UI AUTHORIZATION

These features are essential for my projects, and they aren't free

[2017-09-12 18:50] HCLarsen commented on #63
Crystal rookie piping in here. In Ruby, I use GTK for any Linux projects needing a GUI. Is there a GTK library for Crystal yet?

[2017-09-12 21:28] straight-shoota commented on #63
@HCLarsen I don't think there is.

As you'd probably know, GUI libraries have quite complex APIs requiring a big (though certainly manageable) effort to create proper bindings for Crystal (or any other language).
Surely, someone will get at it eventually. But at the moment all you could do is start GTK bindings yourself.

[2017-09-12 21:38] megatux commented on #63
I'm aware of this one
  https://github.com/jhass/crystal-gobject

Also, for QT
https://github.com/Papierkorb/qt5.cr

I'd like to help with GTK bindings (and Pantheon extensions lib for
ElementaryOS, BTW). I started reading some GObject & G.Introspection docs
but I'm a bit lost there.

We should join forces and make this happen!

PS: I found this projects on the very useful Reddit Crystal page
http

[2017-09-13 05:30] HCLarsen commented on #63
Yeah, the Ruby GTK library is quite large. I believe most of the process of creating a wrapper was automated using SWIG. Does anyone know if SWIG will support Crystal yet?

[2017-09-13 05:33] HCLarsen commented on #63
@megatux I'd totally be in for joining forces to build a GTK library for Crystal. @straight-shoota has a point though, it's a large API, which means that doing it manually will be very intensive.

[2017-09-13 05:38] HCLarsen commented on #37
Most IoT stuff is happening on ARM processors. Is there an ARM compiler for Crystal?

[2017-09-13 05:43] vonKingsley commented on #58
I took a stab at this, https://github.com/vonKingsley/ftp.  Basically just a clone of the ruby ftp client.

[2017-09-13 08:43] RX14 commented on #63
Just a question, why not use qt? Its generally regarded as a much better and easier to use tool kit with a better community. And it has much better cross-platform support.

[2017-09-13 08:45] RX14 commented on #37
Crystal has had an arm target in the compiler for about a year now.

[2017-09-13 16:09] HCLarsen commented on #37
Thanks @RX14. Now I can start using it on my Pi. I shouldn't have any problem creating a robotics library in Crystal. I already had a small one for Ruby.

[2017-09-13 16:11] HCLarsen commented on #63
For me, it's a matter of experience. I already know GTK from using the Ruby library. Switching to QT would mean learning a whole new system.

[2017-09-13 16:11] HCLarsen commented on #63
Plus, GTK uses CSS For styling. Does QT use CSS?

[2017-09-13 16:28] RX14 commented on #37
@HCLarsen You might find http://public.portalier.com/raspbian/ useful, if you didn't already know about it.

[2017-09-13 16:30] RX14 commented on #63
I imagine learning Qt would be a lot *lot* easier than binding GTK in crystal (GTK is very weird with their gobject abstraction). I'm not sure if they use CSS in Qt but from a quick google I find [this](https://doc.qt.io/qt-5/stylesheet-syntax.html) which suggests so.

[2017-09-13 17:28] HCLarsen commented on #37
@RX14 I did not know about that, so thank you for sharing it.

[2017-09-13 19:25] HCLarsen commented on #63
Sure it'll be easier, but eventually the Crystal community is going to need more than one option. You don't to force every Crystal developer in the world into one framework.

[2017-09-13 20:01] RX14 commented on #63
If you want to bind GTK to have ~~a horrific time~~ fun and bind GTK that's cool. I was just trying to make sure you understood that it's unlikely to be the best route if you wanted to actually get something built.

[2017-09-13 20:47] HCLarsen commented on #63
As I've already mentioned, I've used the Ruby GTK library in the past, and I did build things with it. The only horrific thing about it was the pitiful documentation by the owner of that particular library. As such, I don't understand your snarky comment that things can't get built with GTK.

[2017-09-13 22:18] straight-shoota commented on #63
He wasn't talking about *using* GTK but *making it usable* in Crystal at all.

[2017-09-14 00:30] hanyuone opened #69 "Crystal IDE"
This is less of a library but more of a full-fledged application proposal.

This proposal has been stated before in other places, but I'm going to put it here.

Personally, I would prefer a full IDE as opposed to a plugin to something like RubyMine, but that is obviously much harder.

[2017-09-14 03:43] megatux commented on #63
I don't want to discuss what GUI toolkit is better. Both are great. I also
looked at WXWidgets, because it's multiplatform & C++ and it's a popular
choice, too.
For desktop I prefer GTK+ (and I want to do ElementaryOS apps with Crystal,
not Vala-lang!) but QT is very advance & for mobile QML looks awesome.
I confess I'm a bit allergic to C++

I have no previous experience in creating a library bin

[2017-09-14 06:41] HCLarsen commented on #63
Maybe I should open a new issue calling for Crystal support in SWIG. I do believe that would be outside of my range of ability. As I understand SWIG, it would make it a lot easier to create a GTK library for Crystal.

[2017-09-14 06:42] HCLarsen commented on #69
Great idea, but one that would require at the very least a GUI, as is being discussed in another issue.

[2017-09-14 08:07] hanyuone commented on #69
@HCLarsen I mean, it could be done with a language other than Crystal, but that wouldn't work as well as one that is written in Crystal.

[2017-09-14 10:55] faustinoaq opened #70 "Microsoft SQL Server"
A shards to connect to Microsoft SQL Server.

[2017-09-14 11:12] faustinoaq commented on #69
Maybe we can use QT preview by @Papierkorb to make a basic editor first, and then become it in an IDE.

![crystal-ide](https://raw.githubusercontent.com/Papierkorb/qt5.cr/master/images/imageviewer-sample.png)

[2017-09-14 16:53] RX14 commented on #69
I think creating a language server is the correct first step here. I personally don't see the point in having a different editor and IDE for each language. It's a waste of effort when there are many existing editors and IDEs which are much better and more mature than any new project started in crystal. For this reason, a language server represents the minimal amount of work needed to use IDE featu

[2017-09-18 10:44] codenoid opened #71 "Headless Browser"
headless (chrome / firefox), or native crystal "headless" (can load ajax request, spa, javascript rendered page, etc), thanks ^^

[2017-09-21 06:25] HCLarsen opened #72 "SWIG Support"
I admittedly don't know much about SWIG, except that it's used to create wrappers/bindings for C libraries in other languages. Given that being able to create C bindings is one of the fundamental goals in Crystal, shouldn't there be support in SWIG?

[2017-09-21 14:41] Papierkorb commented on #72
Not SWIG, but there are a ton of C binding generators.  I'm working on a wrapper generator over at https://github.com/Papierkorb/bindgen/ too, as do the crystal people at https://github.com/crystal-lang/crystal_lib

[2017-09-21 16:45] HCLarsen commented on #72
Thanks @Papierkorb. I'd like to build a GTK library, but due to the sheer size of it, I'd rather wait for a binding generator. Please keep this thread updated on your progress.

[2017-09-22 20:40] HCLarsen opened #73 "iCloud API Library"
In Ruby, I had to use a third party service called Cronofy, and the gem that they wrote for using their service.

I don't know if it's possible, but I'd love a standalone Crystal library that we could use to directly access the events in the iCal calendar and other things.

[2017-09-27 17:59] bew opened #74 "Statgrab - cross-platform access to statistics about the system"
(Mentioned by `rkeene` on IRC)

`libstatgrab` is a library that provides cross platform access to statistics about the system on which it's run. It's written in C and presents a selection of useful interfaces which can be used to access key system statistics.

The current list of statistics includes:
- CPU usage
- memory utilisation
- disk usage
- process counts
- network traffic
- disk I/O
- and

[2017-09-27 18:12] crisward commented on #48
Just created this https://github.com/crisward/mailer - common interface for mailgun and sendgrid. I'm going to wrap one of the smtp libs above too so you can swap out providers easily.

[2017-09-27 18:15] crisward commented on #40
Not sure of your use case, but shelling out to [wkhtmltopdf](https://wkhtmltopdf.org/) is a good stop gap to go from html > pdf.

[2017-10-05 11:02] ucibar opened #75 "JSON Schema Validator"
A library for validating JSON data with a JSON schema. I couldn't find such a library for crystal.

[2017-10-05 11:25] straight-shoota commented on #75
There are a number of implementations as inspiration: http://json-schema.org/implementations.html
including a Ruby gem [json-schema](https://github.com/ruby-json-schema/json-schema)

[2017-10-15 22:54] thiamsantos commented on #75
I don't know if anyone already started that, but I would love to take that one.

[2017-10-16 03:33] ansarizafar opened #76 "A library to send all kinds of notifications."
A  library to send all kinds of notifications like https://github.com/notifme/notifme-sdk

[2017-10-16 16:58] GrgDev commented on #1
I am going to try giving this a stab real quick if no one has tackled this. I gave the PragmaticTokenizer source a quick look over and the only unmet dependency I saw for porting this almost to Crystal as it is now is the CGI call for unescaping HTML text which Crystal has an HTML module for instead of CGI.

[2017-10-16 17:14] johnjansen commented on #1
@GrgDev its not really the CGI dep that is the issue, there are a couple of hurdles (from my sketchy memory)

1) the regex's (and there are alot / and complex) wont work as is.
2) the organization of the ruby code cannot be directly duplicated, so its a re-engineer in that respect

otherwise ill be interested in what you find, and may (time permitting) be able to offer some assistance

[2017-10-16 17:36] GrgDev commented on #1
Yeah, I see that the project setup and file organization would need to change a bit. I'll dig into the regex differences and see what I find.

[2017-10-16 17:39] johnjansen commented on #1
its the meta programming im more worried about ... its a bit tricky to untangle (unless you have a clear head and are locked in a room in silence)

[2017-10-16 19:44] bew commented on #1
Can you add a link to the tokenizer you're proposing to 'duplicate'  ? (So every people coming here won't have to search it to see what you mean)

[2017-10-16 20:21] johnjansen commented on #1
https://github.com/diasks2/pragmatic_tokenizer

[2017-10-16 20:27] GrgDev commented on #1
I'm busy at work right now, but I went ahead and stubbed out a quick empty repo here. Please excuse the corny name.

https://github.com/GrgDev/crystalized_tokenizer

If I get around to this, the work will be there.

[2017-10-20 04:15] tonyvince opened #77 "Role based authentication library"
A [pundit](https://github.com/elabs/pundit) like multi-role based scalable authentication system would be pretty much helpful

[2017-10-20 04:23] tonyvince opened #78 "File uploader"
A library that can upload files to different backends and map them to a range of ORMs

[2017-10-21 14:36] aablinov commented on #74
Hi, I'm doing porting gopsutil library to a crystal https://github.com/kodnaplakal/psutil.cr it's very similar like libstatgrab. Already done this metrics for Linux:

-  CPU usage
-  Memory usage
-  Disk partitions
-  Disk usage
-  Disk I/O usage
-  OS info
-  OS load average
-  Network I/O usage

[2017-10-21 15:49] HCLarsen commented on #74
Either one of those would be great. Especially if it also works on MacOS.

[2017-10-22 07:36] aablinov commented on #74
Yes, I am currently working on MacOS support

[2017-10-23 16:53] GrgDev commented on #1
Not done yet. Putting a comment here in case I drop this for some reason so someone else can learn what I found already.

I ran into the metaprogramming issues, but they don't seem to be too bad. Only two found so far is:

1. It does an inline extends string to add new custom methods. I just converted them to non-destructive methods that you pass the string to instead.
2. It does check for if cert

[2017-11-03 21:14] JC-LL opened #79 "Binary decision diagrams"
Having a Crystal library for (hopefully fast) [Binary Decision Diagrams](https://en.wikipedia.org/wiki/Binary_decision_diagram) would be very cool.

[2017-11-27 12:13] bararchy opened #80 "Bluetooth"
Binding for BlueZ

[2017-11-28 02:28] johnjansen opened #81 "a NLP based date parser"
just like chronic for ruby
https://github.com/mojombo/chronic

[2017-12-01 00:33] activestylus commented on #28
Libvips is a far superior to Image magick https://github.com/jcupitt/libvips

[2017-12-01 12:44] Papierkorb commented on #28
Not a fan of adding random dependencies, that alone makes it inferior.

[2017-12-01 13:19] Sija commented on #28
@Papierkorb me neither, yet `libvips` is IMO worth goin' the extra mile...

[2017-12-03 14:59] mjago commented on #63
It would be much easier to discuss if 'thread' wasn't still an alien concept in Crystal (yet) I suspect?

[2017-12-03 14:59] Papierkorb commented on #63
What's got threading to do with GUI?

[2017-12-03 15:03] mjago commented on #63
Nothing if your program doesn't need to do any work

[2017-12-03 15:04] Papierkorb commented on #63
Huh? C++/Qt programs run great even single-threaded. Concurrency != parallelism.

[2017-12-03 15:12] mjago commented on #63
I'm streaming audio in the background and can barely refresh curses - I wouldn't dream of streaming video - just saying

[2017-12-03 15:26] megatux commented on #63
Back to the main thread, I've started playing a little with
crystal-gobject[1] trying to translate the Ruby's GTK+ bindings examples[2]
and created a couple of GH issues when I found problems. So far so good.
I'd like to add all GTK+ tutorial examples in the repository.
I don't know of any relative non-trivial app made with this bindings,
though.

Regards
  Cristian

[1] https://github.com/jhass/c

[2017-12-03 15:32] Papierkorb commented on #63
In case people have missed it, there are already Qt5 bindings https://github.com/Papierkorb/qt5.cr It's missing integration with libevent as of now. It can be done however, and once it is, it'll be far ahead in that Qt does much more for you than a common UI toolkit.

[2017-12-03 18:26] HCLarsen commented on #63
@Papierkorb jog my memory. Is QT the one that you can use in any OS, and the windows will look native to that OS?

[2017-12-03 18:27] Papierkorb commented on #63
Qt tries hard to deliver a native look n' feel, yes

[2017-12-04 08:17] activestylus commented on #28
Imagemagick also has dependencies, it's just a lot easier to use apt-get/yum/etc to install them as a total package. Libvips not only processes images faster, it has a smaller memory footprint than both ImageMagick and GraphicsMagick. Maybe its just my imagination too, but the resized images look crispier *shrug*

[2018-01-07 16:10] mamantoha opened #82 "Implementation of Array#pack and String#unpack methods from Ruby language"

[2018-01-07 16:23] Papierkorb commented on #82
That API isn't really a good fit for Crystal. Strings are *not* for binary data, and Array isn't a suitable container for such "unpacked" data.

A sane API, maybe using the mapping pattern, would be much much better, safe and actually usable.

[2018-01-07 16:36] RX14 commented on #82
Sorry, there are technical reasons we can't implement those APIs, on top of design reasons why we don't want to implement them anyway.

As @Papierkorb said, `IO` is typically how you want to represent binary data waiting to be decoded, then you can use `IO#read_bytes` and `IO#write_bytes` to replace most usecases of `unpack` and `pack` respectively.

Please drop by gitter or the mailing list if yo

[2018-01-07 16:36] #82 closed, assigned to nobody

[2018-01-08 15:29] timkendall commented on #31
Might be good to have all of the AWS libraries in one place as well (at least until AWS officially supports and perhaps takes it over). Maybe in the **crystal-community** GitHub org or a new **crystal-aws** org.

Making all of AWS readily available in high-quality shards is definitely something that will push the Crystal community forward. So many people depend on AWS for their daily jobs.

[2018-01-19 18:02] nilsmartel commented on #63
I started working on one :)
Let's see, where this is going.

I wanted to create a GUI-Lib for a fairly long time now, and it seems to be the right moment to do so.

Either way, it's still a long way until anything will work, I just started

[2018-01-19 19:52] Fusion commented on #63
Hi @sombrastudios, do you mean you started your own GUI lib from scratch?
That's very brave of you and I hope you succeed. 👍

[2018-01-23 13:01] starkgate opened #83 "Google Drive API"
For Ruby : https://github.com/gimite/google-drive-ruby
I'd love an equivalent of this gem for crystal.

[2018-01-23 16:54] ysbaddaden commented on #72
Have a look to:
https://github.com/ysbaddaden/clang.cr

The c2cr sample takes a C header file and generates Crystal bindings automatically.

[2018-01-23 20:59] HCLarsen commented on #72
Awesome, thanks.

[2018-01-25 05:54] watzon commented on #71
I've started working on this, but it still has a long way to go. https://github.com/watzon/puppet_master

[2018-01-25 07:59] straight-shoota commented on #71
Are you porting an existing package?
I see your code downloads a chrome executable and runs that. Why don't you use bindings for WebKit or libchrome?

[2018-01-25 08:03] TamasSzekeres opened #84 "ome"

[2018-01-25 08:04] #84 closed, assigned to nobody

[2018-01-25 08:04] watzon commented on #71
I'm basically porting Chrome's official npm package `Puppeteer` to Crystal. It uses a headless chrome executable and communicates with that.

[2018-01-25 09:05] alexanderadam commented on #71
There's also @Ragmaanir's [stoertebeker](https://github.com/Ragmaanir/stoertebeker).
Maybe you could join forces!?

[2018-01-25 11:15] RX14 commented on #71
There's a selenium shard for crystal, or whatever the spec is these days, is that not the best solution?

[2018-01-25 15:59] codenoid commented on #71
i wondering something like python splash (/w non selenium)

[2018-01-25 23:24] lebogan opened #85 "Terminal toolkit like Ruby's HighLine"

[2018-01-26 23:08] notcraig opened #86 "Reddit API Wrapper"
Python famously has [PRAW](https://github.com/praw-dev/praw).  Ruby has [Redd](https://github.com/avinashbot/redd).
I'd love to see a Crystal [Reddit](https://www.reddit.com) API wrapper (CRAW?)

[2018-01-29 00:58] sempervictus opened #87 "Full OpenSSL Implementation"
The current OpenSSL bindings are rather scarce, normal crypto and validation ops available in Ruby, Python, etc arent there. At present, the openssl.cr shard is also out of order at least on arch due to missing functions in the libssl version compared to what that shard was written for, leaving no good options on the table. Brixen's [rubysl openssl](https://github.com/rubysl/rubysl-openssl) might

[2018-01-29 10:53] RX14 commented on #87
Also, in the future we're probably going to remove the `OpenSSL` module in the stdlib, and replace it with small implementation-portable modules for specific tasks, for example `Digest`, `TLS`, `MAC` etc. The full abilities of openssl definitely shouldn't make it into the stdlib for crystal 1.0. Having a shard to point people to would be a good thing as we're removing `OpenSSL`.

[2018-01-29 18:54] sempervictus commented on #87
I understand the desire for a lean stdlib without deps on giant and fluctuating libraries. Problem for crypto is twofold: who will implement it correctly/prove it? How do we use the language now? I just had to drop crystal (thankfully syntax is almost ruby and I use rbx for concurrency/channelized ops) for a fast messaging poc being shown to industry controlling companies because I need to decrypt

[2018-01-29 19:22] RX14 commented on #87
@sempervictus Oh I absolutely realise the need for a full openssl binding.

I just absolutely think it shouldn't be in the stdlib, it should be an official shard.

[2018-01-30 17:59] sempervictus commented on #87
Ah, sorry, i took that to mean the idea was to not have it at all.
If its not in stdlib sometime down the line, replaced by native crypto
namespaces, whats the plan for proper crypto in contexts like those
required by stdlib - https, auth, etc. There's a bunch of hashing, sym, and
asym crypto in play relying on library-defined constants to be compatible
with other languages.

On Mon, Jan 29, 2018

[2018-01-30 18:10] RX14 commented on #87
@sempervictus we'll provide generic interfaces over simple, easy to use functions like TLS, SHA1, HMAC, etc in the stdlib.

These will be implemented likely at first with openssl, but the implementation will be generic so that for example libressl's libtls can be supported, or gnutls (for TLS), or libsodium (for other crypto stuff), or maybe native implementations. It doesn't matter what implement

[2018-02-15 03:59] watzon commented on #74
I'm working on a library right now for parsing the entirety of the `/proc` directory. It's functionality is limited so far, but I do plan on supporting everything in there. https://github.com/watzon/sysinfo.cr

[2018-02-15 08:39] watzon opened #88 "grpc wrapper"
grpc is a rpc implementation by Google that's supposed to be very fast. It already has wrappers in several languages including Ruby and Python.

https://grpc.io

[2018-02-15 08:41] watzon commented on #86
I actually started work on this, but the process of gaining access to Reddits API is terrible. Like filling out a Google doc terrible.

[2018-02-22 22:29] Ragmaanir commented on #71
@ysbaddaden: Does your selenium shard run a headless browser (I could not really figure it out from the selenium docs)? I only remember selenium as running a browser in the foreground.

[2018-02-23 09:00] ysbaddaden commented on #71
It's a webdriver protocol implementation. It will connect to whatever server you've started. Be it selenium or a headless driver.

[2018-02-23 17:49] codenoid commented on #71
https://github.com/codenoid/june splash wannabe xD

[2018-02-23 17:53] ysbaddaden commented on #71
For example, to run firefox in headless mode with the selenium shard (and selenium server, or maybe geckodriver directly): https://github.com/ysbaddaden/selenium-webdriver-crystal/issues/12#issuecomment-346836930

[2018-02-28 01:36] channainfo commented on #11
+1. I am very familiar with doorkeeper. Doorkeeper is very flexible and easy to use. Can not wait to see a doorkeeper available in crystal.

[2018-03-06 22:01] vladfaust opened #89 "XDR (External Data Representation protocol) implementation"
See [Wiki](https://en.wikipedia.org/wiki/External_Data_Representation). I personally need it for integration with [Stellar](https://www.stellar.org/developers/horizon/reference/xdr.html).

[2018-03-11 20:56] watzon commented on #53
This is a work in progress, but I'm working on a library for this at [watzon/cadmium](https://github.com/watzon/cadmium)

[2018-03-20 07:48] ghost commented on #81
@johnjansen Will start working on it today.

[2018-03-20 07:59] ghost opened #90 "project - why are there so many dead libraries"
So I was browsing through the issues here, and most of the "promised" libraries created on GitHub just are empty....

[2018-03-20 09:42] vladfaust commented on #90
It’s a ritorical question, I guess?

Abandoning is usual in open source, because the attention is always switching. Developers have limited time and they need to earn money. Open source doesn’t bring money in short perspective, that’s why they have to do something else instead of writing open libraries.

It’s a dream of mine to have enough money to live without working on commercial projects... I

[2018-03-20 09:51] ghost commented on #90
@vladfaust Didn't looked from that perspective. I am a student, so I have kind of too much time.

[2018-03-20 09:51] #90 closed, assigned to nobody

[2018-03-20 19:39] oltdaniel commented on #81
https://github.com/oltdaniel/timer.cr

[2018-03-20 20:53] straight-shoota commented on #81
`timer` seems not like an optimal choice for naming a shard that's supposed to parse date-time data.

And please note that if you wan't this to be in any way useful, you should avoid introducing a custom `Timer::Time` class but use the stdlib's `Time` instead. I'm sure it can do everything you need and users should not have to convert between different date-time types.

[2018-03-20 20:56] johnjansen commented on #81
@straight-shoota the plan was to do something unlike StdLib, and more like Chronic (Ruby) which is a pure Ruby natural language date parser.

stuff more like the following

[code]

[2018-03-20 20:56] johnjansen commented on #81
however i agree that `timer` is a bad name choice ;-)

[2018-03-20 21:00] ghost commented on #81
@straight-shoota @johnjansen Any name suggestions?

[2018-03-20 22:01] straight-shoota commented on #81
@johnjansen yeah, sure. But it shouldn't need its own implementation of a date-time data type. These parsing methods can just be built upon the stdlib Time type.

[2018-03-20 22:29] johnjansen commented on #81
totally agreed @straight-shoota, i haven't actually looked at the code (ok so there aint much to see yet), too much on my plate right now

[2018-03-20 23:13] HCLarsen commented on #81
For name, why not TimeParser? It's clear and straightforward.

[2018-03-20 23:14] johnjansen commented on #81
or Parsley, why ... no reason at all ;)

[2018-03-20 23:19] ghost commented on #81
Will choose one after I slept a few hours. I really apperciate this conversation.

[2018-03-20 23:23] HCLarsen commented on #81
Just please don't call it chronic.cr. The drug connotations of the word chronic would make it hard for me to use the library without laughing.

[2018-03-20 23:27] johnjansen commented on #81
@HCLarsen CrackTime ???

[2018-03-21 13:49] oltdaniel commented on #81
Updated: https://github.com/oltdaniel/timeparser.cr

[2018-03-23 19:44] mlobl commented on #61
Definitely not as full featured as ```find```, but this is something I did in some spare time at work this past week that could get the job done. Feel free to provide feedback if you like. I'm a Python dev professionally and haven't done much open source.

https://github.com/mlobl/finder

[2018-03-29 09:36] waghanza commented on #69
I can only agree your point of view @RX14. Having yet an other IDE for crystal is just a wast of time.

However, I have (for a long time), the idea to write such an IDE (even before crystal was released).

I personally use **vim** for `Ruby` / `Python` / `Crystal`. As a **text editor**, this tool is enough for my use case.

But having a **full-fledge** `innovation` platform could be interesting. I

[2018-04-05 08:33] hinrik opened #91 "Thrift library"
Support for Apache Thrift: https://thrift.apache.org/lib/

[2018-04-16 13:04] RomainFranceschini opened #92 "OpenCV bindings"
Bindings to the [Open Computer Vision](https://www.opencv.org/) library for image processing.

[2018-05-21 17:22] ghost commented on #81
Decided to leave crystal so I won't develop the library any further and delete it. Sorry.

[2018-05-21 17:51] drujensen commented on #81
Crystal will miss you.  She is always here for you.  And she will be waiting for you to realize what you have lost. But remember to apologize to her when you come to your senses. ;-)

[2018-06-08 17:13] Neltherion commented on #14
Something like Numpy can considerably widen Crystal's reach and invite scientific communities to the language... It'd be really good if we could use Ruby's syntax while crunching numbers...

[2018-07-13 19:47] omerxx commented on #31
Hi guys, any progress with the AWS shard?
Is there a progress going on somewhere? Would love to take part.

[2018-07-13 21:04] jwoertink commented on #31
@omerxx I don't think so. You can find some here http://crystalshards.xyz/?filter=aws. I'm using some AWS stuff in my projects, but none of it has been abstracted to a shard yet.

[2018-07-15 20:28] Sija opened #93 "Zstandard (zstd) bindings"
https://github.com/facebook/zstd

[2018-09-06 23:43] findchris commented on #31
Stumbled across: https://github.com/sdogruyol/aws

[2018-09-06 23:58] jwoertink commented on #31
Yeah, I think this can be closed. There's a few options out there now for some basic stuff.

[2018-09-06 23:58] #31 closed

[2018-09-21 17:55] jasdeepsingh commented on #59
https://github.com/jessehorne/rock

[2018-09-21 18:04] drum445 commented on #14
Won't claim it's anywhere near numpy, but I have ported some financial calculations to crystal
https://github.com/drum445/financials

[2018-09-29 14:47] j8r commented on #69
I've built a basic nano-like editor https://github.com/j8r/cride for those interested.
I haven't much time to invest in it, but this may be the basis to an IDE or vim-like editor.

[2018-10-10 01:35] hibachrach commented on #5
There’s also http://github.com/luckyframework/authentic.

[2018-10-10 13:42] HCLarsen commented on #5
@bigtunacan will Wyatt incorporate API based authentication, or will that require another layer on top? Devise was written before the days of front end frameworks, so they didn't really need that, but in this day and age, we really do.

[2018-10-11 13:27] straight-shoota opened #94 "Application profiler"
I was thinking about a reusable API for profiling code to see which parts of an application take the most resources. Metrics should be at least execution time, maybe even memory consumption or other data. But that would be an enhanced step.

Now, there are obviously tools like `gprof` which can be used to just analyse the execution of the binary. I'm talking about a different approach, where the p

[2018-10-11 16:20] straight-shoota commented on #34
https://github.com/NeuraLegion/blue_cr (bluez binding through dbus)
https://github.com/crystal-community/bluetooth (direct bluez binding)

[2018-10-11 16:26] elorest commented on #34
I'm working with those although they're currently very limited.

@molovo I'm not aware of a cross platform Bluetooth library other than bluez.

@sija noble has bluez as a dependancy.

[2018-10-11 20:32] LeviZell opened #95 "Jupyter Kernel"
I don't know how much is involved to make something similar to the Ruby kernel - iruby (https://github.com/SciRuby/iruby)

It looks like it depends on another package - cztop (https://github.com/paddor/cztop).

[2018-10-28 02:16] proyb6 opened #96 "Paseto"
We certainly need a Crystal version of PASETO
Platform-Agnostic SEcurtiy TOkens as some have been implemented in different languages including Ruby, it could be less effort to port to Crystal.

https://paseto.io/

[2018-10-30 14:15] arambert commented on #40
@marceloboeira your repository hasn't been updated in the last 3 years (almost). Have you made any progress outside of github?

[2018-10-30 14:16] arambert commented on #40
It would be awesome to have in crystal something similar to [prawn](https://github.com/prawnpdf/prawn) in ruby.

[2018-10-30 14:20] marceloboeira commented on #40
@arambert unfortunately not, but my goal was to look at the first commits of prawn and other pdf libs in ruby to create something like an MVP. if you are up for the challenge @arambert we can tackle it together.

[2018-10-30 14:22] arambert commented on #40
@marceloboeira maybe ;) I'll let you know!

[2018-10-30 15:31] straight-shoota commented on #40
Maybe it would be a good aproach to start with an existing graphics library that can emit PDF, for example Cairo. There are already Crystal bindings to it: https://github.com/TamasSzekeres/cairo-cr

[2018-10-30 19:58] marceloboeira commented on #40
@straight-shoota I thought of that too, it's just sometimes a bit hard to distribute given that you need the C libs are coupled. Most of my crystal libraries were focused on learning about things as well, so trying to build from the scratch, but for the sake of productivity I would say we can try to do that for sure.

[2018-10-30 21:14] straight-shoota commented on #40
Even with something like Cairo it's gonna be a long road to get somewhat decent PDF rendering capabilities. You'll still need to implement a lot of things you would expect from an ordinary PDF builder.

[2018-11-12 12:34] mettuaditya opened #97 "Graph library in Crystal"
Just like ruby has RGL (Ruby graph library), crystal should also have its own graph library which contains all the features that RGL provides. Some of the features that RGL provides are given below

1.Dijkstra's algorithm
2.Prims algorithms
3.BFS and DFS
4.Bipartite graph

These are only some of the feature that RGL provides. For more information https://www.rubydoc.info/github/monora/rgl

[2018-11-12 19:08] mettuaditya commented on #97
can anyone guide me on how to send pull request here for some features of library mentioned above

[2018-11-12 19:34] bew commented on #97
@mettuaditya you don't need to make a PR, if you make a shard, or plan to make one you can simply tell us about it :)

[2018-11-13 20:59] kupolak opened #98 "SOAP Client"
Just like Savon in Ruby.
https://github.com/savonrb/savon

[2018-11-18 16:26] proyb6 opened #99 "gRPC for Crystal"
Still await for gRPC to get attention for Crystal.

https://grpc.io/

FAQ
https://grpc.io/faq/

The pros that gRPC will soon dominate microservices with ease of development and performance benefits open up across your web applications is enormous.

[2018-11-19 17:39] Sija commented on #97
Issue is still relevant, no need to close.

[2018-11-20 17:11] RX14 commented on #99
requires http2, which @ysbaddaden started but isn't production ready.

Making an H2 shard play well with the stdlib (or even including it in the stdlib) likely requires some stdlib work though, see https://github.com/crystal-lang/crystal/issues/6011.

These are all problems which need work before gRPC can be worked on. They'd help other usecases too.

Protobuf seems to be in a working state, see h

[2018-11-21 03:47] proyb6 commented on #99
Will take a look!

In addition, I haven’t found FlatBuffers in Crystal, would this be feasible to build since the benefits is useful for most case.

[2018-11-23 09:28] icyleaf commented on #12
I'm working on it: https://github.com/icyleaf/swagger

[2018-11-27 01:17] faustinoaq commented on #70
https://github.com/sourgrasses/crystal-mssql by @sourgrasses :tada:

[2018-11-27 23:45] vectorselector commented on #63
real time audio apps involve driver callback api's in which you have a short time period in which to perform calculations before the audio driver calls you back giving/taking a buffer. this IS in another thread, regardless, for it's own motives (determinacy, the fact that a hardware driver is involved etc...)

[2018-11-28 07:29] HCLarsen commented on #63
@sombrastudios is that going to work in multiple OSes, or just Mac?

[2018-11-28 12:01] hanyuone commented on #63
@HCLarsen AFAIC from @sombrastudios's project, it uses CrSFML internally, so it should support all OSs that both SFML and Crystal support (so, multiple OSs).

[2018-11-29 23:11] Nephos commented on #78
Duplicate: https://github.com/crystal-community/crystal-libraries-needed/issues/50

[2018-11-29 23:12] Nephos commented on #41
looks like it's dead...
I feel bad for it because it could be so useful but the documentation a hell

[2018-11-30 01:36] #78 closed, assigned to nobody

[2018-11-30 01:59] icyleaf commented on #41
Maybe the author of libgit2 gave up with Crystal:  https://twitter.com/moso2p/status/889456195014082560

[2018-12-01 00:57] Nephos commented on #41
I can't read this!

Is someone confortable with libgit2 ?

I tried last year, maybe I should try again with https://libgit2.org/docs/guides/101-samples/ ?

[2018-12-01 16:04] ilanusse commented on #77
https://github.com/ilanusse/praetorian

[2018-12-01 16:04] ilanusse commented on #77
I'm working on Praetorian, it's a lean Crystal port of Pundit. Feel free to add issues or anything, I'm using it to learn

[2018-12-02 18:19] ilanusse commented on #4
Here's my small authorization library inspired by Pundit: https://github.com/ilanusse/praetorian

Hope it helps! Feel free to add enhancements as features.

[2018-12-21 11:00] alexanderadam commented on #99
Duplicate of #88

[2018-12-21 11:45] #99 closed, assigned to nobody

[2018-12-21 11:54] alexanderadam commented on #98
1. @reiswindy began a SOAP shard called [bronzite](https://github.com/reiswindy/bronzite) which looks very good so far.
2. @agrare began a SOAP shard called [simple_soap](https://github.com/agrare/simple_soap) that he [used in one of his projects](https://github.com/agrare/crvmomi/blob/master/shard.yml#L13). It seems that there is not much available yet and the last commits were from a year ago.

[2018-12-31 15:34] alexanderadam opened #100 "MaxDB (the DBMS of SAP) support"
I'm not sure whether it should be here or as an issue on the [crystal-db](https://github.com/crystal-lang/crystal-db) project but it would be nice to be able to connect to [MaxDB](https://db.apache.org/ddlutils/databases/maxdb.html). The [Ruby gem is using the JDBC driver](https://github.com/SAP/cloud-jdbc-maxdb-gem) for that.

[2019-01-02 12:01] RX14 commented on #100
That ruby gem only works on jruby by loading java code. If nobody has managed to port it to ruby, let alone crystal, I doubt this will happen any time soon.

[2019-01-03 09:21] alexanderadam commented on #100
Yes, the gem was written by SAP so I guess they wanted to provide compatibility to their database without investing too much resources into Ruby.
On the other hand there's even a driver for [PHP](http://svn.php.net/viewvc/pecl/maxdb/trunk/) that is mostly written in C (see [`php_maxdb.c`](http://svn.php.net/viewvc/pecl/maxdb/trunk/php_maxdb.c?view=markup) and [`php_maxdb.h`](http://svn.php.net/vie

[2019-01-03 12:56] RX14 commented on #100
It belongs here. If there's a C driver, then that's good! It can probably be bound.

[2019-01-03 14:05] alexanderadam commented on #100
For anyone who wants to have a look at it:
Here is the PHP C driver (just in case anything happens with the linked svn repository).

[php_maxdb.c.txt](https://github.com/crystal-community/crystal-libraries-needed/files/2723947/php_maxdb.c.txt)
[php_maxdb.h.txt](https://github.com/crystal-community/crystal-libraries-needed/files/2723948/php_maxdb.h.txt)

There are some calls that create PHP functio

[2019-01-04 18:51] konovod commented on #100
PHP driver is basically a wrapper around a C SDK: http://maxdb.sap.com/documentation/sqldbc/SQLDBC_API
and there is even an .h file available without registration - http://maxdb.sap.com/documentation/sqldbc/SQLDBC_API/SQLDBC__C_8h-source.html

[2019-01-04 19:27] alexanderadam commented on #100
@konovod you are clearly better in googling than me :wink: :+1:

Seems also to be available [on GitHub](https://github.com/gitpan/DBD-MaxDB).

[2019-01-07 12:46] alexanderadam commented on #63
Bindings for [fyne](https://github.com/fyne-io/fyne) would be nice as well.

[2019-01-07 12:57] RX14 commented on #63
You can't bind go code as it cannot create shared libraries.

[2019-01-07 13:05] alexanderadam commented on #63
Oh, okay :crying_cat_face:

[2019-01-27 14:00] impatienttraveller commented on #75
is anyone working on this?

[2019-03-09 07:45] iambudi opened #101 "Feature Request: Add method or class handler"

[2019-03-09 07:47] #101 closed, assigned to nobody

[2019-04-03 06:12] jtianling commented on #88
need it too.

[2019-04-10 23:27] HCLarsen opened #102 "File System Mocking library"
Something like webmock.cr, but for the local file system. It would be very useful for testing. Ruby has something called FakeFS, so it should be entirely possible.

[2019-04-18 15:48] ericraio commented on #11
+1 for this

[2019-05-01 22:55] dsisnero opened #103 "Apache Arrow Support"
Apache Arrow is a cross-language development platform for in-memory data.  It is going to be the standard format for all the dataframe type libraries

[2019-05-03 08:17] watzon commented on #13
I've got an NLP library that I'm working on, but Spacy has some pretty advanced features. I'd definitely like to see those features implemented eventually though. https://github.com/watzon/cadmium

[2019-05-03 08:19] watzon commented on #1
My project [Cadmium](https://github.com/watzon/cadmium) has a number of tokenizers built in. None of them are quite as advanced as PragmaticTokenizer, but they should be sufficient for most needs.

[2019-05-06 18:14] bew commented on #102
There is another gem called memfs: https://github.com/simonc/memfs

Both are different from how webmock work though, because with webmock you say what you expect, and then you do a web request, and if it doesn't match the expectations it fails.
But the fs gems allows you to do some fs manipulations (in memory) and then you have to check the result is what you expected.

Are you looking for an in m

[2019-05-06 18:17] bew commented on #76
Note: We'd need a shard for each notification system first!

[2019-05-07 07:04] HCLarsen commented on #102
For my current use case, an expect-then-do style of system would work. This program that I'm writing will use a config file, so being able to "read" that file and getting a known response regardless of what's on my hard drive, that's basically what I need for now.

I'm sure in the long run, someone will need an entire in memory fs, but for now, the other would work for me.

[2019-05-07 08:15] bew commented on #102
https://forum.crystal-lang.org/t/poc-pluggable-crystal-system-backends/735
I've made a successful POC at changing the implementation of the used system functions, in this case I can do an in memory environment on demand.. And still use `ENV`.
The same would be possible for `File` and `Dir` to create an in-memory filesystem, or intercept all FS calls (and install expectations /..).. I think it's th

[2019-05-08 03:32] HCLarsen commented on #102
I don't understand your POC as I'm not familiar with OS back end stuff.

I thought that doing something like this would work the same way as `webmock` and `timecop`, where you overwrite the methods like `File#read` and `File#write` so that your calls to those methods give a controlled response, instead of actually touching the filesystem.

[2019-05-13 11:23] #77 closed, assigned to nobody

[2019-05-22 07:58] RomainFranceschini commented on #97
Another option is to bind to the [igraph](https://igraph.org/redirect.html) C library

[2019-05-27 10:06] watzon commented on #1
I'm happy to announce that I just finished adding a (pretty much api complete) replica of the pragmatic tokenizer gem to cadmium. You can check the docs [here](https://watzon.github.io/cadmium/Cadmium/Tokenizer/Pragmatic.html). This was a lot of work, but hopefully it does everything that's needed and more.

[2019-05-27 21:12] johnjansen commented on #1
beautiful!

[2019-05-28 07:43] zhangkaizhao opened #104 "walkdir library"
Implementation in other popular languages:

* Rust: https://crates.io/crates/walkdir
* Go: https://github.com/karrick/godirwalk
* Python: https://www.python.org/dev/peps/pep-0471/
* ...

walkdir_test: https://github.com/lilydjwg/walkdir-test

[2019-05-30 20:55] j8r commented on #80
Can be closed, done in https://github.com/NeuraLegion/blue_cr and https://github.com/crystal-community/bluetooth .
I think one of this project is redundant, @bararchy ?

[2019-05-30 22:12] bararchy commented on #80
Can be closed.
One is direct binding to the C lib, the other to the DBUS interface.

[2019-05-30 22:12] #80 closed, assigned to nobody

[2019-05-30 22:14] bararchy commented on #75
Is there a point to this with JSON.map or JSON::Serelizable ?

[2019-05-30 22:14] bararchy commented on #74
We have -> https://github.com/crystal-community/hardware is that enough?

[2019-05-30 22:16] bararchy commented on #71
Can be closed I believe, @ysbaddaden already taken care of it with his shard

[2019-05-31 01:06] #71 closed, assigned to nobody

[2019-05-31 07:27] j8r commented on #80
I don't see any mention of DBUS, it can precised in the `README.md` and the GitHub description.

[2019-05-31 07:29] j8r commented on #80
I don't see any mention of DBUS, it can mentioned in the README.md and the GitHub description.

[2019-05-31 13:46] ihnorton commented on #95
If you don't mind a C++ dependency, https://github.com/QuantStack/xeus can help get a kernel going fairly quickly vs starting from scratch.

(not a Crystal user, at least yet, but happened across this issue and figured the pointer might help)

[2019-06-03 04:47] HCLarsen commented on #1
My understanding is that Cadmium is an NLP engine. Since people may want this pragmatic tokenizer functionality without necessarily wanting the NLP as well, wouldn't it be a good idea to extract that into a separate shard?

[2019-06-03 04:49] watzon commented on #1
@HCLarsen I believe that Crystal ignores unused code when compiling, so importing the whole library shouldn't hurt you.

[2019-06-03 04:50] johnjansen commented on #1
You could argue that but tokenization is most commonly used while doing NLP so it’s kind of 50/50 in my opinion
On 3 Jun 2019, 4:47 PM +1200, Chris Larsen <notifications@github.com>, wrote:

[2019-06-03 05:05] HCLarsen commented on #1
@watzon I do believe that's true. However, my reasoning isn't about the code size of the executable. It's more related to things like users being able to find a library that does this, or whether an update concerns a project that uses it as a dependency. Look at it as a matter of the Single Responsibility Principle, but applied to libraries. Software (and the shards.yml file) are much more concise

[2019-06-03 05:17] watzon commented on #1
@HCLarsen I can see that. I may split the library apart into several different shard as is a common practice with a lot of bigger JS libraries, but for now I'm going to work on completing Cadmium as a whole.

[2019-06-03 19:10] watzon opened #105 "Web scraper"
Something like [Wombat](https://github.com/felipecsl/wombat) or [Spidr](https://github.com/postmodern/spidr)

[2019-06-03 22:34] HCLarsen commented on #105
This would be useful. I'd do it myself, but I haven't the time.

[2019-06-09 17:17] BlackHabanero commented on #93
[Here](https://github.com/BlackHabanero/zstd-cr) you have it. I don't know if this one is what you will find comfortably useful - but constructive criticism will be appreciated

[2019-06-13 11:29] #93 closed, assigned to nobody

[2019-06-15 22:21] watzon commented on #104
What's wrong with `Dir`? What are you wanting the shard to be able to do?

Currently with `Dir` you can do:

[code]

[2019-06-15 22:28] watzon commented on #98
Didn't even realize I got mentioned here lol. Yeah I was using SOAP a couple years ago when I was doing salesforce stuff. Worst year of my life development wise. I'm definitely open for questions though if anyone needs help.

[2019-06-18 04:38] zhangkaizhao commented on #104
Hi @watzon ! Please read at least one of the implementations e.g. Python I referred, and find if it is already implemented in Crystal. Please update me if I missed something. Thank you!

[2019-06-18 09:37] watzon commented on #104
@zhangkaizhao I have looked through all of the implementations and I haven't seen much of anything that can't be done with plain Crystal. That's why I want to know what your use-case is. What are you wanting to do that you can do in one of those libs, but not with `Dir`?

[2019-06-20 07:50] zhangkaizhao commented on #104
@watzon Thanks! After some more investigation I think you are right. I made a mistake.
This `Dir["**/*"].each` is a little magical. :sweat_smile:
I am closing this issue now.
And I will try to add the implementation in Crystal for the [walkdir_test](https://github.com/lilydjwg/walkdir-test) project soon.

[2019-06-20 07:50] #104 closed, assigned to nobody

[2019-06-20 10:20] zhangkaizhao commented on #104
This is my pull request https://github.com/lilydjwg/walkdir-test/pull/1 .
The class method [`Dir.[](*patterns) : Array(String)`](https://crystal-lang.org/api/0.29.0/Dir.html#%5B%5D%28%2Apatterns%29%3AArray%28String%29-class-method) returns an Array. This might be an issue when there are too many files in the directory.
You can improve it if you have a better idea.

Without this method, I have to o

[2019-06-20 10:45] bew commented on #104
You can use [`Dir.glob`](https://crystal-lang.org/api/0.29.0/Dir.html#glob(patterns%3AEnumerable(String)%2Cmatch_hidden%3Dfalse%2C%26block%3AString->UNDERSCORE)-class-method) with a block if you want to avoid creating an array

[2019-06-20 11:14] zhangkaizhao commented on #104
@brew Thank you! I have updated the pull request with `Dir.glob`.

[2019-06-25 00:07] didactic-drunk commented on #67
Soon [Awesome Crystal](http://awesomelists.top/#/repos/veelenga/awesome-crystal) will have a Cryptography section with all available shards.

There's a newer fork of cox at [didactic-drunk/cox](https://github.com/didactic-drunk/cox) maintained by me.   An alternative libsodium library is available from [watzon/nacl](https://github.com/watzon/nacl).  The projects may merge if he ever answers my [lo

[2019-06-26 19:25] watzon commented on #105
It's a work in progress, but it works https://github.com/watzon/arachnid

[2019-06-29 00:59] mistergibson opened #106 "Suggestion: port gem mimemagic from Ruby for significant (and fully platform agnostic) MIME type coverage"
I notice the unix and windows mime code is rather skeletal and incomplete. I want to suggest you simply port the mimemagic gem from Ruby to save time. It is very comprehensive in its coverage of mime types, has a byte-stream recognizer, and does filename extension recognition as well. In my Ruby code I have come to rely upon it and it has helped a lot.

Cheers,

G. Gibson

[2019-07-01 09:00] alexanderadam commented on #98
Just in case anyone is interested: it seems that @reiswindy is still working on [bronzite](https://github.com/reiswindy/bronzite), made a few improvements and updated it to `0.29.0`.

[2019-07-01 09:04] alexanderadam commented on #40
It seems that @rowland [is giving it a try](https://github.com/rowland/caramel) [if I understand this correctly].

[2019-07-01 14:54] rowland commented on #40
I've written PDF libraries in Delphi, Ruby and Go, but I've never cracked the most difficult languages to support, such as Chinese. My immediate goal in Crystal is to bind PDFlib, which my company is using anyway, and build a report markup language on top of it. Not as ideal as having an open source, pure Crystal library, but more attainable in the short term.

[2019-07-01 19:16] alexanderadam commented on #40
In the long term something like [hexapdf](https://github.com/gettalong/hexapdf) would be nice. Maybe a port would make sense.

But for the moment I would be happy with any library that works. :wink:

**EDIT:** It seems that @gettalong is [planning on porting it to Crystal](https://twitter.com/_gettalong/status/1173538090457206785) :tada:

[2019-07-03 02:27] watzon opened #107 "Push notification service"
Something like https://github.com/rpush/rpush

[2019-07-04 09:33] alexanderadam opened #108 "Port of impersonator gem"
Now that there are some VCR ports available ([vcr.cr](https://github.com/spoved/vcr.cr), [hi8.cr](https://github.com/vonKingsley/hi8.cr), [eighttrack](https://github.com/russ/eighttrack)) it would be nice to have something like [impersonator](https://github.com/jorgemanrubia/impersonator) as well.

[2019-07-04 09:36] alexanderadam opened #109 "fastimage shard"
It would be good to have [a fastimage implementation](https://github.com/sdsykes/fastimage).

One of the reasons to have this, is to protect uploads in web frameworks like Kemal, Lucky or Amber from image bombs (like [this gem for Ruby's CarrierWave](https://github.com/DarthSim/carrierwave-bombshelter)).

[2019-07-06 19:02] elorest commented on #63
Licensing is a lot easier with Gtk.

[2019-07-26 02:09] watzon commented on #105
Arachnid is pretty much finished and fills the need so I'm going to close this

[2019-07-26 02:09] #105 closed, assigned to nobody

[2019-07-26 19:17] taylorfinnell commented on #109
I made this inspired by fastimage. https://github.com/taylorfinnell/imagecr

It would need to be updated to latest Crystal version, and doesn't support as many image types or have as many features, but maybe it is a start

[2019-07-26 19:30] alexanderadam commented on #109
Oh nice, it can even identify images over HTTP(S)! :heart_eyes:

I guess I can close this then. Thank you for your response!
Maybe we should talk about shards more often. :wink:

[2019-07-26 19:30] #109 closed, assigned to nobody

[2019-08-06 07:36] alexanderadam opened #110 "XMPP / Jabber client shard"
It would be nice to have a [XMPP/Jabber :speech_balloon: ](https://xmpp.org/) library like @astro's [xmpp4r](https://github.com/xmpp4r/xmpp4r) or @adhearsion's [blather](https://github.com/adhearsion/blather) (which seems to implement more[?] specifications) or maybe an approach like in other languages, i.e. [xmpp.js](https://github.com/xmppjs/xmpp.js).

I think that XMPP is a nice protocol which

[2019-08-15 21:46] watzon opened #111 "Font renderer"
This would be a nice thing to have which could augment the abilities of the [stumpy](https://github.com/stumpycr/stumpy_core) libraries. Currently there's no way to add text to images, but with a font renderer it would be pretty easy to add that ability.

[2019-08-16 07:20] bew commented on #111
Something like #55 or harfbuzz would be great :)

[2019-08-16 19:02] watzon commented on #111
@bew agreed, I remember seeing harfbuzz recently as a suggested repo from github. A wrapper around it would be awesome, although it would also be pretty cool to have a pure Crystal font renderer as well.

[2019-08-16 21:28] bew commented on #111
In stumpy_utils, there is a way to write text, but it's pretty basic compared to the mentioned libs above

https://github.com/stumpycr/stumpy_utils/blob/master/README.md#canvastextx-baseline_y-text-font--pcfparserfont-color--rgbaback

[2019-08-17 07:28] watzon commented on #111
That's cool, I didn't even realize that. Never actually heard of the `pcf` format.

[2019-08-17 08:06] bew commented on #111
From what I read, text rendering [is a hard topic](http://behdad.org/text/), and I think it would be simpler to wrap a library that does it well instead of re-inventing such a complex wheel..

Also, I read that HarfBuzz is a text shaping engine, and Pango uses it for the display/placement of text, so wrapping Pango would be the best option here (and it's cross-plateform!).

[2019-08-17 18:53] watzon commented on #111
Sounds good to me! Now someone just needs to do it :grin:

[2019-08-19 20:31] jkthorne opened #112 "Relational Algebra"
This might be a duplicate of https://github.com/crystal-community/crystal-libraries-needed/issues/43 but I wanted to make an issue for it.

I think it would be a good idea to have a ground up implementation of a relational algerbra library that could be shared across different ORM implementations.

[2019-08-26 18:20] naqvis commented on #110
XMPP/Jabber Library for Crystal - https://github.com/naqvis/cr-xmpp

[2019-08-26 18:31] alexanderadam commented on #110
@naqvis, I can't emphasise this enough but this is outstanding awesome!
The crystal community can be proud to have you on board.
Thank you so much!

I will close this issue then.

[2019-08-26 18:31] #110 closed, assigned to nobody

[2019-09-04 12:14] alexanderadam commented on #93
Just FYI: It seems that there's now [a second shard for zstd](https://github.com/didactic-drunk/zstd.cr).

[2019-09-04 16:42] BlackHabanero commented on #93
Sure I know about it, author wrote [this](https://github.com/BlackHabanero/zstd-cr/issues/4) to me. Can't decide how to solve this, his code is good in some ways I think, maybe better. I don't know...

[2019-09-04 18:19] alexanderadam commented on #93
Ah nice. I missed this bit. :wink:

I usually like it when projects merge because this means more maintainers and usually more features/less bugs and I also think that having more Crystal than C would be the better approach but performance and reducing GC load doesn't sound bad either. :wink:

But of course I'm not the one to decide here. Whatever you chose will be alright. :+1:

Independent from

[2019-09-05 05:34] didactic-drunk commented on #93
Second shard maintainer here.  @BlackHabanero and I independently started zstd bindings around
the same time.  My first commit (with working compression/decompression) was around the same time he published his project.  What are the chances?

Unfortunately travel and other [projects](https://github.com/didactic-drunk/sodium.cr) with similar [duplicate effort](https://github.com/watzon/nacl/issues/

[2019-09-05 05:39] didactic-drunk commented on #93
To avoid duplicate shards here's a partial list of my future compressor projects:
* brotli 50% of starting in 1-5 months.
* A common compressor interface for swappable compressors 60% chance of starting in 1-5 months.
* snappy and similar 20% chance of starting 1 year.
* lz4 10% chance of starting within 1 year.
* 7zip still researching.

If there is funding the chance of these starting increases

[2019-10-14 08:14] repomaa commented on #12
Also see https://github.com/repomaa/open_api.cr

[2019-10-14 10:12] andrius commented on #49
I have created a library for Asterisk PBX, with ARI bindings it lets you create twilio-like system

https://github.com/ctiapps/asterisk

The docs, introduction etc are coming shortly.

[2019-10-14 15:07] jkthorne commented on #49
I have a Twilio integration from an old project I can see if I can clean it up and open source it.

[2019-10-14 15:15] andrius commented on #49
Great, more telephony! :)

[2019-10-24 14:58] alexanderadam commented on #49
Seems to be popular to use write Twilio shards as it seems because there are also

- https://github.com/bitstopco/twilio.cr
- https://github.com/arubinofaux/twilio.cr
- https://github.com/philnash/crystal-experiments
- https://github.com/rohanthewiz/crystal-sms-example

[2019-10-24 15:07] alexanderadam commented on #93
Be aware that there's also [brotli.cr](https://github.com/naqvis/brotli.cr) from naqvis now.

[2019-10-25 18:19] didactic-drunk commented on #93
Thanks @alexanderadam.  The awesome crystal [compression section](https://github.com/veelenga/awesome-crystal#compression) now has everything in one place.

[2019-10-28 15:25] alexanderadam commented on #50
@jetrockets [seem to work on it](https://github.com/jetrockets/shrine.cr). :tada:

[2019-11-21 22:35] christopherzimmerman commented on #15
Just adding [bottle](https://github.com/crystal-data/bottle) here.  I've only gotten to a few of scipy's features, but they are in the roadmap, and I do implement an N-Dimensional Tensor which is really useful.

[2019-11-21 22:36] christopherzimmerman commented on #14
I have a good start on a library inspired by numpy, it's called [bottle](https://github.com/crystal-data/bottle).  I am still looking for contributors, it's just me currently, but I have an N-Dimensional container implemented, and very powerful numpy features like strided views and broadcasting.

[2019-11-21 23:12] christopherzimmerman commented on #92
The OpenCV C api at least has been deprecated for many years, so bindings would have to be based off the C++ api.  A much easier alternative might be binding to [SOD](https://sod.pixlab.io/).  I put together a tiny proof of concept today: https://github.com/crystal-data/spyglass.  My interest is more in implementing scipy.ndimage with it, but it could also be used for general image manipulation.

[2019-11-22 10:21] konovod commented on #63
- qT (https://github.com/Papierkorb/qt5.cr) currently doesn't work (with crystal 0.31). And there is slightly too much magic - no chances to fix it without author.
- GTK (https://github.com/jhass/crystal-gobject/) works, but there is also too much magic (IMHO). For example, I've failed to make it working on WSL and it makes IDE syntax checking crazy.
- libui (https://github.com/Fusion/libui.cr) wo

[2019-11-22 22:35] christopherzimmerman commented on #14
@drum445 I went through and took your financial work and added them all as [vectorized methods to my library](https://github.com/crystal-data/bottle/blob/master/src/financial/simple.cr), they worked great! You basically have all of numpys financial methods, so its good to have them.  I gave you a shoutout at the top of file, but if you want a link or something to your library just let me know.

If

[2019-11-24 00:28] jkthorne commented on #14
@christopherzimmerman  I found bottle looking through crystal libs and have been following it.  I dont have a use for it yet but it looks super promising.

[2019-12-20 16:55] Ray-Eldath commented on #88
eagerly waiting...

[2019-12-20 17:15] alexanderadam commented on #88
If you are _very_ eager, you should rather consider writing an own shard (maybe using the [official Ruby implementation](https://github.com/grpc/grpc/tree/master/src/ruby) as help - you could probably even migrate most of the existing specs by using [Spectator](https://gitlab.com/arctic-fox/spectator) as a test framework).

Maybe other people waiting here will join you.

Otherwise it should be obv

[2019-12-20 21:56] watzon commented on #88
I'm working on this right now. It'll probably take a bit since I'm writing out a whole parser for Google Protocol Buffers, but we'll see. I'll keep you posted.

[2019-12-22 21:56] 98982872 commented on #63
@konovod What backed does your library use under X11 and Wayland? Is it Gtk3?

[2019-12-23 08:31] konovod commented on #63
`master` branch uses LCL, which can use either GTK2 or Qt.
I've created `gtk3` branch that uses only Gtk3 (with a goal of eventually remove dependency from Lazarus) and it almost works, but it currently has some problems with size calculations.

[2020-01-14 05:56] aaferrari commented on #14
Another option could be [Crystalla](https://github.com/mverzilli/crystalla) but there have been no new commits for three years.

[2020-01-15 10:54] alexanderadam opened #113 "Math parser / evaluator"
I'm just curious:
is there any Shard for evaluating math formulas (like [dentaku](https://github.com/rubysolo/dentaku))?

[2020-01-15 12:39] RX14 commented on #113
There's `execute_infix` in my [`rpn.cr`](https://github.com/RX14/rpn.cr).

It doesn't support variables yet, though i'd definitely be open a PR.

[2020-01-15 12:45] alexanderadam commented on #113
Wonderful! I guess I can close this then!
Thank you for responding so fast :+1:

[2020-01-15 12:45] #113 closed, assigned to nobody

[2020-01-15 13:40] straight-shoota commented on #113
[Crinja](https://github.com/straight-shoota/crinja/) is a full-fledged template engine, but it's also capable of evaluating math expressions. Variables are obviously supported, as well as many more complex features.
[code]

There is no explicit mode to dumb it down to only allow math expressions, but individual features can be disabled in the config, creating a sandboxing mode.

[2020-01-15 13:57] alexanderadam commented on #113
Thank you for the advice. I didn't thought of using template engines for evaling.
But when I needed a math evaluator, I needed it to be as 'dumb' as possible, to rule out misuse. So it should do mathematics and nothing else.

[2020-01-15 14:19] alexanderadam commented on #63
Awesome work @konovod and @RX14! :+1:

I'm just curious: it should also be possible to use [iced](https://github.com/hecrj/iced) or [Azul](https://azul.rs/) as Rust exposes a C interface, right?

[2020-01-15 14:56] konovod commented on #63
It isn't possible to use rust libraries directly. Perhaps it is possible to create a wrapper (in Rust) that will expose C interface, but C interface is a pretty crude thing. No nice features such as type safety, asyncs, different syntax sugar. These things will have to be redone from scratch on a crystal side.
So perhaps someone familiar with Rust and with these libraries could find wrapping them

[2020-01-15 15:00] alexanderadam commented on #63
Ah okay, thank you for explaining. :+1:

[2020-01-16 01:55] RX14 commented on #113
@alexanderadam if you need variables implemented just open an issue and i'll probably have a crack at it

[2020-01-16 09:39] alexanderadam commented on #113
@RX14 I will. At the moment I was just wondering whether there is some math evaluator at all. But I will open an issue in case I will need variables for sure!

btw while we are on it: thank you (both) for your awesome libraries! :pray:

[2020-01-17 07:55] nilsmartel commented on #63
Pretty much all interesting rust GUI Libs are under heavy and active development at the moment (collective interest in this recently picked up more and more).
This might making bindings unnecessary hard.
Choosing the right libs is crucial, here's a list of pretty much all GUI libs at the moment
https://areweguiyet.com that rust users can choose from

[2020-02-03 15:16] jgaskins commented on #88
Someone pointed me at this issue a while back and I completely forgot to comment on it. I've also been [working on a gRPC library](https://github.com/jgaskins/grpc) which includes its own basic implementation of HTTP/2 (just the parts needed for simple gRPC for now) and uses [this Protobuf shard](https://github.com/jeromegn/protobuf.cr) (of which I am also a maintainer) to serialize/deserialize me

[2020-02-08 21:33] jgaskins commented on #88
I've updated the shard with a better readme and pushed [an example repo](https://github.com/jgaskins/grpc_example) to showcase how to use it. Hope this is helpful!

[2020-02-22 19:48] HCLarsen commented on #63
Checking in, since there's been a lot of discussion since I was last here. From what I can tell by reading through, there's a lot of GUI libs that have since been abandoned, and a few that are being worked on.

So let me ask a simple question, does anyone know of any libraries that provide QT or GTK and work with the current version of Crystal?

[2020-03-20 14:11] alexanderadam opened #114 "Flashtext port"
There's this [Flashtext algorithm to retrieve keywords from a document](https://arxiv.org/abs/1711.00046). And [there are implementations in other languages](https://github.com/search?q=FlashText&type=Repositories&l=&l=). So maybe it would make sense to port [the Ruby version](https://github.com/imran3180/flashtext) or [the reference implementation](https://github.com/vi3k6i5/flashtext) to Crystal

[2020-03-20 17:30] franciscoGPS commented on #14
Here's another called [Num.cr](https://github.com/crystal-data/num.cr)
Haven't used it myself but seems to do the job.

[2020-03-20 17:53] watzon commented on #14
@franciscoGPS Num is actually bottle, it's just been renamed

[2020-03-20 18:51] jkthorne commented on #14
https://github.com/crystal-data/num.cr/pull/14

[2020-03-24 12:37] lumina7 opened #115 "Tokyo Tyrant (Tokyo Cabinet server)"
Tokyo Tyrant (tokyo cabinet server bindings).  Used by cloudfare/mixi.

https://fallabs.com/tokyotyrant/

Ruby bindings:
https://fallabs.com/tokyotyrant/rubypkg/

Go bindings:
https://github.com/patrickxb/gotyrant

Thank you.

[2020-03-24 13:32] Sija commented on #115
fwiw, Tokyo Tyrant hasn't been maintained for a looooong time already...

[2020-03-24 13:40] lumina7 commented on #115
https://news.ycombinator.com/item?id=2526355

[2020-03-24 14:03] Sija commented on #115
@lumina7 this article is from 2011 if you haven't noticed...

[2020-03-24 15:41] watzon commented on #115
Yeah even the Go bindings, and probably the Ruby bindings, haven't been updated in 10 years

[2020-03-27 07:04] Mic92 commented on #17
I once built a proof of concept for C++ to make this possible: https://github.com/inspector-repl/inspector

[2020-03-27 16:49] watzon commented on #17
I made a pure crystal library that doesn't rely on readline called [Term::Reader](https://github.com/crystal-term/reader) if anyone would like to use that for something like this. Not sure about the rest of the `pry` functionality though.

[2020-03-27 17:41] Sija commented on #17
@watzon that's completely off-topic

[2020-04-16 11:31] RomainFranceschini commented on #97
Ongoing effort at [RomainFranceschini/cgl](https://github.com/RomainFranceschini/cgl) :)

[2020-05-03 07:34] RomainFranceschini commented on #95
[xeus](https://github.com/QuantStack/xeus) would be the easy way but as it's in C++, one would need to write a C wrapper first, and then bind to it from Crystal.

I started to implement the protocol in Crystal, however the [zeromq](https://github.com/crystal-community/zeromq-crystal) shard would need an update first.

[2020-05-12 11:46] RomainFranceschini commented on #95
I created a thread on the crystal forum, where I'll post updates of the implementation https://forum.crystal-lang.org/t/jupyter-notebook/2101

[2020-06-04 13:17] alexanderadam commented on #109
Now there's also [fastimage.cr](https://github.com/jetrockets/fastimage.cr) from @jetrockets which also works with JPEG and WEBP (apart from having more formats planned) :tada:

[2020-07-20 08:16] alexanderadam opened #116 "Python to Crystal converter"
I just stumbled over [py2rb](https://github.com/naitoh/py2rb) and thought that it might be especially helpful for people who're coming from a scientific background if there would be a Python to Crystal converter, too.

This issue is more meant as an idea.

**Disclaimer:** I'm pretty sure that it will be more difficult to create Crystal converter than a Ruby converter (typing alone…).

[2020-07-20 16:15] didactic-drunk commented on #67
I think this request is satisfied by [didactic-drunk/sodium.cr](https://github.com/didactic-drunk/sodium.cr) and should be closed.

[2020-09-07 13:41] christopherzimmerman opened #117 "Data-parallelism library"
Something like this, but for Crystal

https://github.com/rayon-rs/rayon

[2020-09-15 13:47] alexanderadam commented on #95
soooo… this issue can be closed since @RomainFranceschini solved it with [ICrystal](https://github.com/RomainFranceschini/icrystal#icrystal), right?

[2020-09-15 14:26] #95 closed, assigned to nobody

[2020-10-06 03:37] christopherzimmerman commented on #3
I have a [PR](https://github.com/crystal-data/num.cr/pull/45) out that adds these to `Num.cr`, including plenty of utils to convert between types and dense `Tensor`s.  I just need to figure out what linear algebra methods I want to support.

[2020-10-06 03:40] christopherzimmerman commented on #2
Definitely not on par with Tensorflow, but I added a [pure Crystal autograd/neural net implementation](https://github.com/crystal-data/num.cr/tree/master/src/nn) to Num.cr.  I am still working on adding more advanced features, but it has most basic activations/layers/optimizers.  If anyone is looking to contribute to add more functionality I'd welcome any PRs.

[2020-10-16 22:06] alexanderadam opened #118 "Algorithmic Trading Library"
I'm just curious whether anybody knows an equivalent of [PyAlgoTrade](https://gbeced.github.io/pyalgotrade/) or something similar for Crystal.

A part of it could be porting the [Quantitative gem](https://github.com/mwlang/quantitative?tab=readme-ov-file#quantitative).

[2020-10-16 22:09] alexanderadam commented on #88
Can't we close this issue then? :thinking:

[2020-10-25 18:19] hugopl commented on #111
You can acess Pango and/or Harfbuzz using https://github.com/jhass/crystal-gobject, i.e. problem solved. :-)

[2020-10-31 15:55] alexanderadam commented on #40
I'm not sure whether this is relevant for anyone but gettalong published the source at https://github.com/gettalong/hexapdf.cr

It's not finished but maybe someone wants to support it (or maybe merge some projects?)

[2020-10-31 18:03] gettalong commented on #40
Big caveat from my side wrt to the code: It was and is just a proof of concept for benchmarking purposes. The code you see in there is probably equivalent to just the first few weeks of HexaPDF development which started in 2014...

Nonetheless, I'm still dreaming of a standalone HexaPDF executable written in Crystal :smile: The library part would just be a nice side effect of this.

[2020-10-31 18:30] alexanderadam commented on #40
Trust me: everybody here does! :wink:
Also thank you again for working on PDF libraries in general. :pray: As I told you some time ago, PDF is pure magic and complexity to me. :wink:

I just stumbled about [the Go library unipdf](https://github.com/unidoc/unipdf) which directories are nicely structured and show the complexity that PDF brings. Apart from that I never saw intentionally obfuscated co

[2020-11-09 09:06] zhangkaizhao commented on #24
Hello! Any updates?

[2020-11-09 09:09] bararchy commented on #24
@zhangkaizhao Nothing really, I didn't manage to get time to progress, and looking back at it it's pretty bad.
If you wish to push it forward either by fork,PR or grab the code you're interested in, feel free.

I don't see any clear time in the current future I'll have to put into it

[2020-11-17 06:29] dukenguyenxyz commented on #83
Is this what you are looking for? https://github.com/PlaceOS/google

[2020-11-17 10:05] starkgate commented on #83
Looks perfect. I don't need it anymore but this might be useful for others

[2020-11-17 10:05] #83 closed, assigned to nobody

[2020-11-26 13:18] alexanderadam opened #119 "integration with a browser recording library: playwright library / puppeteer library / something similar"
There's @microsoft's browser automation library called [playwright](https://github.com/microsoft/playwright) which allows to record, generate and replay browser interactions.
There's also a corresponding Python library, called [`playwright-python`](https://github.com/microsoft/playwright-python).

And it's possible to generate Python code with

[code]

I guess it would be possible to add another [

[2021-01-05 19:26] naqvis commented on #119
Happy to share [Playwright-cr](https://github.com/naqvis/playwright-cr) Crystal version of the Playwright testing and automation library. :laughing:

[2021-01-06 04:50] HCLarsen commented on #119
I recently heard about this one:

https://github.com/NeuraLegion/marionette

[2021-01-06 13:03] alexanderadam commented on #119
@naqvis you are absolutely outstanding. Unbelievable! Wow! Thank you so much!

I'm sure this could be useful for @luckyframework and @amberframework, too since it allows recording of actions (i.e. easy reproducting of bugs).

Thank you for this hint. I mentioned marionette in the last sentence of the issue.
My main intention was the recording and replaying issue though. Playwright is pretty much a

[2021-01-06 13:03] #119 closed, assigned to nobody

[2021-01-06 18:36] watzon commented on #119
That's actually a fork of my project lol

[2021-01-06 19:30] alexanderadam commented on #119
Ah right. I linked it correctly in the first comment, though! :laughing:

[2021-08-20 17:26] chances commented on #92
I'm [working on a shard](https://github.com/chances/wgpu-crystal#readme) for [wgpu-native](https://github.com/gfx-rs/wgpu-native) (a WebGPU implementation) with support for compute shaders.

[2021-08-21 12:24] carcinocron commented on #81
I have a partial implementation of php's `strtotime`, which for some users might be enough.

https://github.com/iomcr/php-strtotime

If a specific format is not supported in my library, but exists in php's strtotime, then it might have a draft definition here: https://github.com/iomcr/php-strtotime/blob/master/src/Strtotime/format_parsers.cr which likely just needs someone familiar with the format

[2021-08-24 22:34] Blacksmoke16 commented on #70
https://github.com/wonderix/crystal-tds

[2021-10-01 16:32] alexanderadam commented on #81
It seems that @nanobowers migrated cronic:

https://github.com/nanobowers/cronic

So I guess this can be closed now? :thinking:

[2021-10-02 13:06] #81 closed, assigned to nobody

[2021-10-02 14:40] bcardiff commented on #88
cc: @Sija I think that you are the most active member listed in the contributors of this repo.

[2021-10-02 16:37] #88 closed, assigned to nobody

[2021-10-02 18:40] alexanderadam commented on #85
I'm not quite sure whether this would suit your needs but there are many command line shards available.

Just a few examples:

- https://github.com/at-grandpa/clim#clim
- https://github.com/mosop/cli#crystal-cli
- https://github.com/j8r/clicr#clicr
- https://github.com/crystallabs/crysterm#screenshots
- https://github.com/aca-labs/terminimal#terminimal
- https://github.com/maiha/cmds.cr#cmdscr-
-

[2021-10-02 18:46] alexanderadam commented on #54
@Sija this can be closed then, right?

[2021-10-02 18:50] alexanderadam commented on #41
[libgit2.cr](https://github.com/smacker/libgit2.cr#libgit2cr) seems quite maintained.

[2021-10-02 18:53] #67 closed, assigned to nobody

[2021-10-02 18:53] #58 closed

[2021-10-02 18:54] #50 closed

[2021-10-02 18:57] Sija commented on #41
It does seem a bit incomplete though - and I mean the important parts like `Remote.fetch`.

[2021-10-02 18:59] #54 closed

[2021-10-02 19:15] alexanderadam commented on #41
Yes it does.
But this isn't an issue for the `crystal-libraries-needed` repo then. It would be an issue (or PR) on the shard repo, wouldn't it? :thinking:

[2021-10-02 20:00] Sija commented on #41
@alexanderadam Fair point, closing!

[2021-10-02 20:00] #41 closed

[2021-10-03 04:40] watzon commented on #85
Planning on adding a lot more to crystal-term soon as well

[2021-10-03 18:58] alexanderadam commented on #85
Well, I guess feature wise the things that can be found in [crystal-term](https://github.com/crystal-term) should probably make everyone working on CLI apps happy.

That's why I propose to close this issue. What do you think @Sija?

**PS:** Long time no see @watzon! :wink:

[2021-10-03 19:20] #85 closed, assigned to nobody

[2021-10-03 19:34] alexanderadam commented on #86
I guess @edwardloveall's [`reddit.cr`](https://github.com/edwardloveall/pixelfeed/blob/2691b9d2a8512637aa96b8720883b637f9867833/src/clients/reddit.cr#L1) (a file in the [pixelfeed repo](https://github.com/edwardloveall/pixelfeed)) would be a good start if someone would extract it into a separate shard.

[2021-10-05 03:10] nanobowers commented on #116
I'm playing with this right now as a work-in-progress based on my variant of py2rb with fixes and type annotation support for Crystal.  These types of code translators are never going to be 100%, but might be useful in mapping over code or tests.

Unfortunately python's `unitTest` isn't a great 1:1 mapping for Crystal's stdlib `Spec`.
And I'm not sure a NumPy equivalent exists in Crystal, so those

[2021-10-06 01:48] nanobowers commented on #116
An early version with some rudimentary type support is here:
https://github.com/nanobowers/py2cr

Would welcome any feedback or contributions.

[2021-10-06 11:34] alexanderadam commented on #116
Awesome, I'll close this issue then since all further things should be done on issues on that project.

Thank you so much! 🙌

[2021-10-06 11:34] #116 closed, assigned to nobody

[2021-10-07 11:04] konovod commented on #67
I think I should mention there is also [Monocypher](https://monocypher.org/) bindings: https://github.com/konovod/monocypher.cr

[2021-10-09 13:22] #4 closed

[2021-11-10 00:11] christopherzimmerman commented on #103
I have started work on this: https://github.com/crystal-data/arrow.cr.  I plan to make it fairly similar to the `Ruby` implementation, which also uses GObject Introspection.  Here is a mini example with basically no code written:

[code]

Fair warning, I'm mostly just doing this to add it as a backend to `Num.cr`, so there might be some non-numeric features left out, always looking for contributor

[2022-01-04 01:03] nanobowers commented on #20
@johnjansen
Between https://github.com/nanobowers/uri_template and the URI support in the stdlib, is this covered now?

[2022-01-08 02:50] gxfr commented on #86
I'm currently building a class that authenticates and allows sending GET requests. It shouldn't be too hard expanding to an API wrapper with proper PUT/POST/DELETE request methods.

[2022-01-08 02:58] gxfr commented on #20
I have a URL parser here: https://github.com/crystal-libs/cup

It was a simple project to kind of get me started learning Crystal. I can work on turning it into a URL manipulation lib if needed.

[2022-01-08 09:14] alexanderadam commented on #86
This would be great! :raised_hands:
By the way, the official API doesn't only has the typical REST actions but also [WebSocket](https://crystal-lang.org/api/1.3.0/HTTP/WebSocket.html) subscriptions (see [here](https://www.reddit.com/dev/api/#section_live)).

[2022-01-08 23:24] gxfr commented on #86
Coming from Python, I simply write the library in Python first and then convert everything to Crystal. I guess websockets is how PRAW implements the submission/comment streams? I've never used websockets so I'll have to figure out how it works, but I can 100% implement support for reddit's live endpoints.

[2022-01-09 16:39] nanobowers commented on #20
@trollmao  I'm learning Crystal too, and wrote the uri_template shard to hopefully improve my skills and also to learn about RFC6570, etc.

There's also https://github.com/johnjansen/crystal-uri-extensions from the original poster @johnjansen

Perhaps all of the above want to be rolled into one shard? Or maybe they want to be separate? Or a shard that wraps them all with dependencies?

[2022-01-09 17:03] gxfr commented on #20
I'm all for combining them into one shard.

[2022-05-19 11:50] zw963 opened #120 "A rewrite of Centrifuge use crystal"
https://github.com/centrifugal/centrifuge

Thank you.

[2022-05-20 06:41] aravindavk commented on #55
Not all the Pango APIs were added, but a few are available with the Chitra library.

Chitra is a 2D graphics library for Crystal language, that uses Cairo and Pango(Pango for text rendering). The following example shows writing a text. For Cairo bindings it uses https://github.com/TamasSzekeres/cairo-cr and custom bindings for Pango integration(https://github.com/aravindavk/chitra/blob/main/src/pa

[2022-05-20 18:32] HCLarsen commented on #55
If memory serves, Pango/Cairo are part of GLib, so you might want to check [gtk4.cr](https://github.com/hugopl/gtk4.cr) to see if any of it's covered there.

[2022-08-27 03:01] sharflare commented on #28
Any progress on this?

[2022-10-21 18:18] megatux commented on #28
Some weeks ago a saw [this one] (https://github.com/naqvis/crystal-vips)

[2022-10-21 22:16] #28 closed

[2022-10-24 14:56] rajbaratht opened #121 "Kubernetes API"
https://kubernetes.io/docs/reference/using-api/client-libraries/

Thank you

[2022-10-24 15:11] Sija commented on #121
There's already https://github.com/jgaskins/kubernetes

[2022-10-24 16:22] rajbaratht commented on #121
Thank you. I didn't know. Closing.

[2022-10-24 16:22] #121 closed, assigned to nobody

[2022-11-21 04:14] watzon opened #122 "RDF library"
Something similar to [Ruby RDF](https://github.com/ruby-rdf/) or [rdflib](https://github.com/RDFLib/rdflib) in Python